[2015-05-28 03:24] peterhurford opened #1 "Link EA Profiles"
The user should be able to go to [their account settings](http://effective-altruism.com/prefs/) and set their EA Profile link (similar to how they can already include a personal link).  This should then prominently appear on [their account page](http://effective-altruism.com/user/Peter_Hurford/) (i.e., when you click on their name).

[2015-05-28 03:32] peterhurford opened #2 "Sidebar doesn't work when zooming on Firefox"
When you zoom in on the EA forum this sidebar gets pushed below the main content, as attached. Can you figure out why this is and what CSS change we can make to fix it?

![Img](http://i.imgur.com/Q57FVIU.png)

[2015-05-28 03:33] peterhurford commented on #2
As in the screenshot, the main content area gets pushed off to the right, and the sidebar gets pushed below it, due to being right floated. This is in Mac Firefox (doesn't happen in Chrome).

It's triggered at all window sizes, with the same FF version.  **The problem only happens when you zoom in** (command +, View > Zoom).

[2015-05-28 04:19] peterhurford opened #3 "Social sharing buttons for articles"
The EA Forum already has more sessions than in any previous month, and seems to be trending up month on month. The overall trend is upwards, but only gradually so. Content is still flowing in, which is good. But if the forum is to reach a critical mass so that it achieves deeper engagement with a wider group of users, it would help to drive up activity in other ways. Over a third of our traffic cu

[2015-05-28 11:19] JoshuaDavid commented on #2
Adding the following line to the #content selector seems to fix the problem. I'm not entirely sure why that's necessary though.

[code]

[code]

Tomorrow I'll have a look at the code base and see where that's defined, and then make a pull request.

[2015-05-28 15:57] tog22 opened #4 "Ability for moderator to delete forum posts"
- Ability for moderator to delete forum posts (I currently am only able to moderate comments, and I need to ask Trike to directly access the mysql database if it is necessary to delete a post, which probably will eventually cause a problem)

[2015-05-28 15:57] tog22 opened #5 "Make a button on user's page to send a message (LessWrong has a link that does this)"
- Make a button on user's page to send a message (LessWrong has a link that does this)

[2015-05-28 15:58] tog22 opened #6 "Make an RSS/XML feed of meetups that automatically collates from whatever places allow this (e.g. meetup.com) [step towards automatically posting them on FB/Forum/etc.]"
The original request was:

- auto-posting of meetups from Meetup.com or hooking it up with some 3rd party software that can post to Facebook and the EA Forum simultaneously.

I've revised it to this more modest 1st step - see comments below. This means it should require no handover - someone can jump right into it. Though they can @-tag @alexflint if it seems worth drawing on his prior research.

[2015-05-28 15:58] tog22 opened #7 "default inline reply box size is too big on Android"

[2015-05-28 15:58] tog22 opened #8 "If you're logged out, then upvote, the login page appears but doesn't actually log you in."
- If you're logged out, then upvote, the login page appears but doesn't actually log you in.

[2015-05-28 15:59] tog22 opened #9 "Filter out '&#...' from the links to recent blogs, perhaps just with regex."
- Filter out '&#...' from the links to recent blogs, perhaps just with regex.

[2015-05-28 15:59] tog22 opened #10 "Get Chrome autofill to work for login"
- Get Chrome autofill to work for login

[2015-05-28 15:59] tog22 opened #11 "Get sidebar to display meetup titles rather than addresses"
- Get sidebar to display meetup titles rather than addresses

[2015-05-28 16:15] peterhurford commented on #2
Excellent progress!

[2015-05-28 21:55] peterhurford commented on #2
Joshua David told me: "I figured out the cause of one of the issues, but I'll need to get the VM set up to see how to fix it and make a pull request. I'm adding a new Ubuntu VM tonight, and tomorrow I'll figure out how to get it serving the EA forum."  I told him he could talk to Tom for help.

[2015-06-13 05:51] tog22 opened #13 "Link to list of regular meetups from meetups page"
It'd be good for http://effective-altruism.com/meetups/ to link to this list, which is at http://effectivealtruismhub.com/groups

[2015-06-13 10:21] JoshuaDavid commented on #8
It looks like it is actually logging you in, but not refreshing the page. Here are my observations:
1. Logged out
2. Viewed an article
3. Clicked the upvote button
4. Got popup "log in or register" overlay
5. Entered my username / password and hit submit
6. Overlay disappeared, UI still had the "Log In / Sign Up" button (i.e. did not show I was logged in)
7. Refreshed the page
8. UI now showed tha

[2015-06-13 15:15] tog22 commented on #3
Pull request submitted (combined with readme west submitted (combined with readme change from Ryan - https://github.com/tog22/eaforum/issues/3 )

[2015-06-14 04:07] peterhurford commented on #3
@tog22 I can't find the PR.

[2015-06-14 19:05] tog22 commented on #2
Nice work! Peter and I'll handle getting this onto the live repo.

[2015-06-14 19:05] tog22 commented on #11
Nice work! Peter and I'll handle getting this onto the live repo.

[2015-06-14 19:37] tog22 commented on #8
I've observed that after logging in it takes a page refresh to _show_
you're actually logged in - several times, in several other cases. So yes,
I think you could prompt a refresh - can do no harm, after all!

On 13 June 2015 at 03:21, Joshua David notifications@github.com wrote:

[2015-06-17 17:06] arichard4 commented on #13
Pull request submitted- is this what you had in mind?

[2015-06-17 18:17] peterhurford commented on #13
https://github.com/tog22/eaforum/pull/15

[2015-06-17 18:18] peterhurford commented on #9
https://github.com/arichard4/eaforum/commit/b6f097a0e08a80a65771948dee1af028591b6d6d

[2015-06-17 18:18] peterhurford commented on #8
Should we make a PR to refresh the page then?

[2015-06-17 18:19] peterhurford commented on #11
https://github.com/tog22/eaforum/commit/e72a2d4ac57079f800696b8ba675659a5afeef60

[2015-06-17 18:19] peterhurford commented on #11
Reopening until we get it into Trike's master.

[2015-06-17 18:19] peterhurford commented on #3
Reopening until we get it into Trike master.

[2015-06-17 18:20] peterhurford commented on #2
Joshua's fix: https://github.com/tog22/eaforum/commit/81f61f524628e0a6fece903b3d8ee8aa3301cad9
Patrick's fix: https://github.com/tricycle/eaforum/pull/5

Reopening until we get this into Trike master.

[2015-06-18 21:12] arichard4 commented on #9
I've submitted a pull request. The problem is that 80K's feed had HTML character entities in the raw text; the solution was taken from here: http://stackoverflow.com/questions/7394748/whats-the-right-way-to-decode-a-string-that-has-special-html-entities-in-it

[2015-06-19 16:36] peterhurford commented on #9
PR: https://github.com/tog22/eaforum/pull/14

[2015-06-21 05:02] tog22 commented on #3
It's in (though ideally we'd vertically align it more carefully).

[2015-06-21 05:02] #3 closed

[2015-06-21 06:57] patbl commented on #2
Lol, I just realized that both the issues I worked on already had fixes.

[2015-06-21 07:03] patbl commented on #2
For me, it also happened also when zooming out. (Though if I zoomed out far enough, the problem would go away.)

[2015-06-21 21:50] arichard4 commented on #10
Chrome autofill currently works for me.

[2015-06-23 17:57] #10 closed

[2015-06-23 18:00] peterhurford commented on #2
Closing because we've submitted a PR to Trike. https://github.com/tricycle/eaforum/pull/5

[2015-06-23 18:00] #2 closed

[2015-06-23 18:02] peterhurford commented on #9
Submitted to Trike: https://github.com/tricycle/eaforum/pull/7

[2015-06-23 18:02] #9 closed

[2015-06-23 18:02] peterhurford commented on #11
Submitted to Trike: https://github.com/tricycle/eaforum/pull/7

[2015-06-23 18:02] #11 closed

[2015-06-23 18:03] peterhurford commented on #13
Submitted to Trike: https://github.com/tricycle/eaforum/pull/7

[2015-06-23 18:03] #13 closed

[2015-06-25 05:09] arichard4 commented on #5
As is, i.e. in the reddit codebase, the page requires a moderately ugly captcha to send messages. Is there any real need for this? Should I just totally eliminate the captcha to send messages, or make it prettier?

[2015-06-30 06:33] arichard4 commented on #5
Looked at this further; the captcha is only displayed for users with 0 karma, which seems reasonable. Pull request submitted.

[2015-07-01 06:57] arichard4 commented on #7
What Android device does this fail on? Checking using Chrome's emulator seems to show it working OK for all the devices I checked.

[2015-07-02 03:52] patbl commented on #1
Currently you can set a "Personal Link" in your preferences, but I couldn't find out whether that's displayed anywhere. Is it?

[2015-07-02 04:08] patbl commented on #1
It seems to be displayed on LW but not on the EA Forum:

![lw](https://cloud.githubusercontent.com/assets/1735266/8469779/488912b2-2035-11e5-990c-b68a71f5f0ea.png)

[2015-07-02 04:36] arichard4 commented on #1
That whole sidebar is not displayed in the EA forum. You can find the code for it under templates/profilebar.html; the specific lines generating the website link are:

[code]

Edit: the html that I tried to copy and paste has gotten processed by Github. Meh.

[2015-07-04 13:18] tog22 commented on #1
Cool, do you want to try adapting that to start with Alex? I'd strongly
recommend at least _starting_ by just renaming the website link to an EA
Profile link rather than trying to add a new field by this. Great to have
you working on issue #1 - as its name suggests, it's been long delayed!

On 1 July 2015 at 21:36, arichard4 notifications@github.com wrote:

[2015-07-04 21:30] peterhurford commented on #5
https://github.com/tog22/eaforum/pull/16

[2015-07-04 22:23] tog22 commented on #1
Sorry for the schizophrenic assigned/unassigned messages. This is a good task for multiple people to work on so it's still great to have your help @patbl !

[2015-07-05 14:30] arichard4 commented on #1
Is the idea that this would be in addition to the personal link, or instead of it? The personal link isn't currently being displayed anywhere.

[2015-07-05 15:57] tog22 commented on #1
Instead of, at least for now.

[2015-07-05 15:59] tog22 commented on #1
(Given that the personal link isn't chosen it seems easiest to at least _start_ by taking advantage of it's already being set up to write to the database, etc. - @peterhurford and I couldn't figure out how to do that when we tried e.g. https://github.com/tog22/eaforum/commit/34bc8083769dad5a7c0430190e5c8b431e0960f0 .)

[2015-07-05 21:48] peterhurford commented on #8
@JoshuaDavid Have you made any progress on this?

[2015-07-05 21:49] peterhurford commented on #7
@tog22 Can you look into Alex's comment?

[2015-07-05 21:50] peterhurford commented on #4
https://github.com/tog22/eaforum/pull/17

[2015-07-05 22:25] alexflint commented on #6
I will be working on this during the EA workathon today

[2015-07-05 23:16] tog22 commented on #7
I replied in the workathon - he's asking Ryan.

On 5 July 2015 at 14:49, Peter Hurford notifications@github.com wrote:

[2015-07-05 23:18] peterhurford commented on #4
Submitted to Trike as https://github.com/tricycle/eaforum/pull/8

[2015-07-05 23:18] #4 closed

[2015-07-05 23:42] peterhurford commented on #5
Submitted to Trike https://github.com/tricycle/eaforum/pull/9

[2015-07-05 23:42] #5 closed

[2015-07-05 23:58] alexflint commented on #6
One way to tackle this will be:
- Use zapier.com. Create a "zap" that polls the meetup.com API every 15 minutes and posts new events when they are created to a REST endpoint at effective-altruism.com.
- Create a REST endpoint (maybe /meetup/import) that accepts a title, event date, description, and so on, and creates a nicely formatted meetup entry.
- Zapier also has support for facebook posting,

[2015-07-06 00:01] alexflint commented on #6
Hmm unfortunately zapier does not support posting to facebook groups (only ordinary timeline posts): https://zapier.com/help/facebook-pages/#can-i-use-facebook-groups-with-zapier

One solution may be to write the facebook API integration ourselves at the eaforum end of the endpoint described above (i.e. the handler for /meetup/import is also responsible for posting to the facebook group through th

[2015-07-06 01:00] tog22 commented on #6
Just creating an XML feed of all meetups would be a good first step, before we work out where we can then post them - we may have to give up on Facebook.

[2015-07-06 01:05] tog22 commented on #13
@peterhurford doesn't seems like you actually included this in https://github.com/tricycle/eaforum/pull/7 (it might also be worth rewording).

[2015-07-06 09:38] arichard4 commented on #1
Problem: most of the places we would be putting the link to the profile seem to cache their messages, meaning that updates to the profile won't get through to the users for some time. Is this significant/a problem?

[2015-07-06 15:52] peterhurford commented on #13
@tog22 Good catch -- Submitted in https://github.com/tricycle/eaforum/pull/10

[2015-07-07 00:14] tog22 commented on #1
It's not a _significant_ problem - let's just live with it at least in v1.

On 6 July 2015 at 02:38, arichard4 notifications@github.com wrote:

[2015-07-07 00:47] arichard4 commented on #1
OK, I've pushed to the branch link-to-profile.

[2015-07-07 01:05] arichard4 commented on #7
@RyanCarey

[2015-07-07 03:57] peterhurford commented on #1
I made a PR and merged it into our master branch. https://github.com/tog22/eaforum/pull/19  I'll merge from the branch to Trike soon, but I want to give them a chance to handle their current PRs first.

[2015-07-07 07:35] RyanCarey commented on #7
I can replicate it on Chrome's emumlator on at least iphone 4 and Nexus 4,
and probably on all of them. The problem is that you have an empty and
appropriately sized comment-box initially, but when you type in the first
letter, then the bottom of the box stretches down to cover up the 'comment'
button.

Ryan Carey | bioinformatics student | medical resident

On Tue, Jul 7, 2015 at 2:05 AM, Alex Ri

[2015-07-07 19:41] arichard4 commented on #1
Actually, can you hang on and not merge? The top contributors is showing the head icon twice, beside the username and the profile link; I hadn't noticed this before because it didn't update immediately.

[2015-07-07 21:02] arichard4 commented on #1
OK, I've fixed that. Would somebody else mind taking a look at this de novo, though? It seems like my system is taking a while to update when I see in my browser when I make a change in a source file. (The user options should only accept a link to an ea profile, i.e. effectivealtruismhub.com/user/something, and then there should be a link to their profile beside their username on posts, comments a

[2015-07-07 21:29] peterhurford commented on #1
:+1: I can QA this sometime soon.

[2015-07-08 03:21] arichard4 commented on #7
eaforum.css line 135:
.commentreply textarea {
    margin: 0 0 10px;
    width: 100%;
}

The textarea is contained in the content div, which is the entire vertical column that makes up the content/comments. This is constrained in main.css line 49 to be a fixed width of 695px, which is wider than phone screens. It scales correctly initially, but on text being entered it tries to scale the width out

[2015-07-08 22:39] tog22 commented on #1
:heart: to both

[2015-07-08 23:07] tog22 commented on #1
I've found that too.

I just tested your changes and I see all this, except I can't add meetups and can't see top monthly contributors:

[2015-07-09 11:33] RyanCarey commented on #1
Could someone explain what these links to the profiles are to look like? I don't have a monopoly over changes to the forum but it would be good to be told that people are actively starting to integrate the site with another site. Obviously it's the first issue and has been here for a month but would be good to tag me for this sort of thing.

[2015-07-09 11:36] RyanCarey commented on #8
Agree that this is important, and that you need to refresh to make buttons appear after being logged in after clicking upvote.

[2015-07-09 11:41] RyanCarey commented on #1
Are we bringing back LW's old right profile sidebar? The higher priority thing from there is the button that you use to message people. Bringing back the profile sidebar in its entirety has the downside of making the ux more complex.

[2015-07-09 17:11] tog22 commented on #7
Nice, what will `@media (max-width: 959px)` apply to?

[2015-07-09 19:39] arichard4 commented on #7
It is effectively an if statement; the css inside it is executed if the entire document's max-width is less than 960px.

http://www.w3schools.com/cssref/css3_pr_mediaquery.asp

[2015-07-09 20:30] arichard4 commented on #1
1) This changes people's names when displayed on the forum (by comments, posts, meetups, recent comments, and top monthly contributors) to also have a link to their EA profile. So e.g. my name would show up as AlexRichard (Profile), if I have manually entered my EA profile's URL. (This issue is still kinda in development- in particular, there's a question of whether to make the link read (Profile)

[2015-07-09 21:58] RyanCarey commented on #1
Thanks for the reply. Also thanks everyone for all the new awesome features and important fixes implemented since the hackathon!

The button for messaging people sounds ideal!

As for the links to profiles, I can see the instinct to try to bring ea apps together. But might it be excessive to display the link to the profiles next to the name everywhere? When you say it appears next to posts, does i

[2015-07-09 22:04] peterhurford commented on #7
@arichard4 Nice!  Make a PR? :+1:

[2015-07-09 22:05] peterhurford commented on #6
:+1:

[2015-07-09 22:07] RyanCarey commented on #7
You guys can be proud of all the sweet improvements you've made. Best to
wait 'till they go live to announce them. If you want, Ali Woodman (who is
moderating currently) and I can write something nice about y'all ;)

Ryan Carey | bioinformatics student | medical resident

On Thu, Jul 9, 2015 at 11:04 PM, Peter Hurford notifications@github.com
wrote:

[2015-07-09 22:38] peterhurford commented on #1
I think it makes sense to integrate in other EA services, assuming people like them, since it's the only way they'll get used.  I remember talking to you about this a few months ago and you seemed onboard with this at that point, though maybe only as a general principle and of course it's easy to forget.  But I don't think there are any sizable risks to "introducing dependencies", generally speaki

[2015-07-09 23:18] tog22 opened #21 "Reduce karma threshold for posting a thread from 10 to 5"
This appears to be set in the code.

[2015-07-09 23:18] tog22 commented on #21
@alexflint do you want to have a go at this?

[2015-07-10 03:14] peterhurford commented on #21
This should be useful: https://github.com/tricycle/eaforum/search?utf8=%E2%9C%93&q=karma_to_post&type=Code

[2015-07-10 17:39] arichard4 commented on #21
FYI, development.ini is in the .gitignore

Also, is this change aimed specifically at me?

[2015-07-10 17:53] arichard4 commented on #1
![profile-link-screenshot](https://cloud.githubusercontent.com/assets/7397740/8625007/ea4cc7bc-2709-11e5-9150-d6860e914244.png)

@tog22 , comments?

[2015-07-10 18:38] tog22 commented on #1
@arichard4 , that basic functionality looks good to me! I don't think there's any more you need to do on it just yet, we can sort out that functionality and then move onto any tweaks, aesthetic or otherwise. Thanks for all your hard work on this, I know a lot of people who've requested and will appreciate it :smiley:

@RyanCarey , I'm sorry you felt out of the loop! It's easy to forget/get confuse

[2015-07-11 23:21] RyanCarey commented on #1
Thanks for the clarifications, and especially the screenshot, which makes it clear what exactly we're talking about. I'm not sure this is positive value as is.

In general, I've been supportive of the forum and profiles (or any other service) connecting to each other, if it's of overall benefit.

My reservation is that putting '(Profile)' next to every name puts it in too many locations:
1. '(Prof

[2015-07-11 23:21] RyanCarey commented on #1
@tog22, I back in September, I had spoke in some generalities:

Am I confused?

[2015-07-12 02:26] tog22 commented on #1
Yep, I was referring primarily to other conversations where we discussed it more specifically in the ways I  :smile: I'll try working out ways we can address 1-3 later.

[2015-07-12 03:42] arichard4 commented on #1
Another thing: Have some people already entered links to personal websites already? If so, then when we put up a profiles link using the extant pref_url, their profile will then link to their personal website.

[2015-07-12 17:40] tog22 commented on #1
Given they're not displayed anywhere we wouldn't lose anything and can't see, but before displaying them (when you check e.g. `%if thing.author.pref_url`) could you check they match the regexp `"(http)?(s?)(:\/\/)?(www.)?effectivealtruismhub\.com\/user\/.*"`? If we wanted to add a place where people could display another webpage then you could try adding a pref_other_webpage field, but Peter and I

[2015-07-12 21:17] arichard4 commented on #21
Since development.ini is in the .gitignore, it will need to be edited manually by Trike. (Or, if they have it on vagrant, regenerated from its template.) (Or, we could remove it from the .gitignore temporarily.) I've changed the template for development.ini to generate it with the reduced karma threshold.

[2015-07-12 22:07] tog22 commented on #21
I've talked to Trike (the people who administer the live site) a bit so I'll ask them to do that. ( @peterhurford, as it's not a typical PR, I've got getting this to Trike covered.)

[2015-07-12 22:51] peterhurford commented on #21
Submitted to Trike as https://github.com/tricycle/eaforum/pull/11

[2015-07-12 22:51] #21 closed

[2015-07-14 11:07] RyanCarey opened #23 "feature request: automatically appear online when returning to the site"
If, rather than having to log in at each visit, people stay logged in (or have the option of doing so), there would be a lower barrier to participation, and this might improve user experience and increase volume of content.

[2015-07-14 11:13] arichard4 commented on #1
This look better? (I'm still waiting on the Top Monthly Contributors to refresh, but I removed the the icon from beside each username.)

![2015-07-14-065939_1366x768_scrot](https://cloud.githubusercontent.com/assets/7397740/8671849/7c5ca624-29f6-11e5-9b4c-9f0d43263915.png)

[2015-07-14 11:36] RyanCarey commented on #1
Smaller, prettier & out of sidebar - nice. You guys can maintain e.g. if
all these new links break, right? Also, good to make sure inputted
addresses are on the EA hub domain as suggested.

You all seem keen so feel free to take it forward. :)

This look better? (I'm still waiting on the Top Monthly Contributors to
refresh, but I removed the the icon from beside each username.)

[image: 2015-07-14

[2015-07-14 11:56] arichard4 commented on #23
I'm not sure what you mean by this. Do you mean that if you login, then refresh the page or go elsewhere and return, you will stay logged in? AFAICT this is already the site's behavior, at least for me.

[2015-07-14 13:20] RyanCarey commented on #23
Oh, my bad, I just have to check 'remember me' and it works on all platforms.

[2015-07-14 13:20] #23 closed

[2015-07-14 20:55] RyanCarey opened #25 "Remove GiveWell or GoodVentures from 'Recently on EA Blogs' rss"
Currently, lots of the posts in 'Recently on EA Blogs' are duplicates, because they have been dual-posted on GiveWell and GoodVentures.

Currently, the top two most recent posts are:
- Geomagnetic Storms: Using Extreme Value Theory to Gauge the Risk
- Geomagnetic storms: Using extreme value theory to gauge the risk.

About 90% of posts from GiveWell/Goodventures are duplicates.
I guess the easiest

[2015-07-14 22:46] tog22 commented on #7
I'll create a PR for this - I almost have https://github.com/tog22/eaforum/commits/issue-1-for-pr ready for it (despite the name that covers this issue as well as #1 ).

[2015-07-14 22:53] tog22 commented on #1
Yep, I hereby solemnly promise :star:

That's great, I'm really glad we managed to achieve consensus! :two_men_holding_hands: @peterhurford , I've tested this throroughly and done almost all the work to get ready for a pull request in https://github.com/tog22/eaforum/commits/issue-1-for-pr pending @arichard4 answering some questions on a Facebook message thread.

[2015-07-15 00:47] arichard4 commented on #25
This is something currently specified in development.ini, which is in the .gitignore and which will require it being remove from the .gitignore or being manually changed.

[2015-07-15 00:54] tog22 commented on #25
I'll deal with that again.

[2015-07-15 01:21] tog22 commented on #25
I asked Trike to make the actual change (outside the git repo), we can submit a PR for the change within the repo later.

[2015-07-15 01:22] #1 closed

[2015-07-15 01:22] #7 closed

[2015-07-22 01:49] peterhurford opened #26 "Offer the ability for forum mods to delete meetups"

[2015-07-22 01:49] peterhurford opened #27 "Replace meetup functionality on the EA Forum"

[2015-07-29 16:33] tog22 commented on #6
Does creating that XML feed seem viable @alexflint ? How long do you think it'd take you if so? :smile:

[2015-08-03 17:32] peterhurford opened #28 "Zoom on phone is very broken"
Whenever I browse the EA forum on my phone (which I do daily), I get a very zoomed in view and I cannot zoom out.  My phone is an iPhone 5C and I use Chrome.  I miss being able to browse the forum on my phone. :(

[2015-08-04 12:52] arichard4 commented on #28
Seems to be due to chrome- Safari works fine on my iPhone 4.
Seems not to be due to the changes to mobile viewing in issue #7; reverting them didn't change anything.

Will look into this further.

[2015-08-04 17:28] peterhurford commented on #28
I was actually using Safari; not Chrome.

[2015-08-07 17:30] RyanCarey opened #29 "Duplicate upcoming events"
Hey,

A user Gina Stuessy has pointed out to me that meetups appear to be going up twice recently. Any ideas why this might be?

![image](https://cloud.githubusercontent.com/assets/8340923/9141641/2bfb3b88-3d32-11e5-984f-fdfe2f1dcc92.png)

[2015-08-07 18:54] tog22 commented on #29
@peterhurford and I will (get someone to) fix this.

[2015-08-07 21:49] arichard4 commented on #29
1) If you look at all meetups, it looks like every meetup is now being duplicated. (There's one weird very old meetup on that page.)
2) They are different entries in the system; they lead to different URLs.
3) At least for me, both links are broken; i.e. meetups are now almost totally nonfunctional.
4) Going to /r/meetups, it looks like no new meetups have been created since July 21st.
5) I just m

[2015-08-07 21:55] arichard4 commented on #28
Hmmm.
When you say you miss it, do you mean that zoom used to work? (Before the changes made as part of issue #7 ?)

[2015-08-08 03:15] peterhurford commented on #28
I can't confirm any causal relationship with #7, but 6 days ago when I logged onto the forum it was normal sized, now it is enlarged and I can't zoom out.  When it was normal sized I couldn't zoom out either, it just didn't matter.

[2015-08-09 02:12] william-r-s commented on #28
Zoom also doesn't work on Chrome (I'm pretty sure it worked before, not sure of timeline) and Firefox on Android (Samsung Galaxy S4).

[2015-08-10 18:44] arichard4 commented on #28
Setting user-scalable doesn't appear to change anything.
Per Chrome emulator, this appears to not work on lesswrong and main & mobile reddit as well, so it's not something unique to our code base. I'm currently stumped, so I've submitted this as an issue to the main reddit repo. Hopefully their engineers will figure this out.

[2015-08-10 18:57] william-r-s commented on #28
On my Android (Samsung Galaxy S4), this issue doesn't occur on lesswrong or desktop reddit, just on http://www.effective-altruism.com/

[2015-08-10 19:21] peterhurford commented on #28
FWIW, LessWrong works just fine on my phone.  EA Forum still does not.

[2015-08-10 20:39] arichard4 commented on #28
...
Can someone else check on your computer, using Chrome emulator (Control+Shift+i in Chrome) to emulate the iPhone 4, iPhone 5, or Galaxy S4 on lesswrong or reddit to see if zooming works?

[2015-08-11 02:51] william-r-s commented on #28
Used chrome emulator, saw the same behaviour as my phone. Zoom (holding
shift and moving the mouse) works on lesswrong.com, not on
effective-altruism.com

On Mon, Aug 10, 2015 at 4:39 PM, Alex Richard notifications@github.com
wrote:

[2015-08-11 12:19] arichard4 commented on #28
Welp. I'm not sure what's going on with my laptop and phone, then, but I seem to be unable to replicate this problem.

[2015-08-11 15:21] william-r-s commented on #28
I took a quick look at the page source, and it looks like the culprit is
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
I downloaded a static copy of the page, replicated the zoom problem in the chrome emulator, and then changed it to:
<meta name="viewport" content="width=device-width minimum-scale=0.25 maximum-scale=2.0">
which allowed zooming in in the c

[2015-08-12 01:06] tog22 commented on #29
What's the meetup you made @arichard4 ?

[2015-08-12 01:06] tog22 commented on #29
@RyanCarey would you like us to temporarily hide meetups if this looks like it'll take a while to fix?

[2015-08-12 01:08] tog22 opened #30 "Change error message"
Currently an error in the code yield this message:

We should change this, including asking people to report errors at https://github.com/tog22/eaforum/issues

[2015-08-12 02:26] tog22 commented on #28
We added `<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">` in commit https://github.com/tog22/eaforum/commit/6e14cf5341f54d418afb2b064d23a65d267cb3d2 . We had tested it (on my part using Chrome emulator) but obviously missed this, my bad.

@arichard4 how do you think we can change this?

[2015-08-12 02:26] tog22 commented on #8
Are you up for having a go at this @patbl ?

[2015-08-12 02:59] arichard4 commented on #28
Yep, sorry, it was my changes in issue #7 that broke zooming.
Pretty sure the given changes work OK; at least per my testing.

[2015-08-12 03:02] arichard4 commented on #28
Of interest is whether issue #7 remains solved in this branch; my model of what was going wrong there would suggest that setting width=device-width should break the comment box again, but I just tested it and it seems to work OK.

[2015-08-12 03:08] arichard4 commented on #29
It was for the Stanford EA meeting Sunday, which has already occurred. I've made another for next Sunday; it also appears to not be duplicated and has a broken link.

[2015-08-12 03:37] arichard4 commented on #30
This is appears to be located in eaforum/r2/r2/i18n/en/LC_MESSAGES- at least; that and the build folder appear to be the only occurrences of that text, per grep.

I'm not able to test the changes, because I've never been able to get the meetups working at all- trying to add one on my local version of the EA Forum causes an error: ''DefTemplate' object has no attribute 'uri' ' Is there another good

[2015-08-12 09:47] RyanCarey commented on #29
@tog22: up to you

Ryan Carey | bioinformatics student | medical resident

On Wed, Aug 12, 2015 at 2:06 AM, tog22 notifications@github.com wrote:

[2015-08-12 20:19] tog22 commented on #28
What do you suggest I do Alex? Deploy William's suggested change? It's a
shame we don't have a testing server we could access from phones.

On 11 August 2015 at 20:02, Alex Richard notifications@github.com wrote:

[2015-08-13 12:28] RyanCarey commented on #28
Yes, just noticed this, and had it raised with me by a user.

[2015-08-14 13:58] arichard4 commented on #28
Yes

[2015-08-14 13:59] arichard4 commented on #29
The Stanford EA meetup I posted is still not duplicated, at least to me; there is another meetup that is posted three times (triplicated)

[2015-08-14 20:46] tog22 commented on #29
@RyanCarey OK I'll leave it for now, _partly_ because Trike will be slow to update it.

@arichard4 I had someone else test this - I still need to pin them down on what happened, but they said " it only said submitting and never went to new page" so I expect that's leading people to resubmit. And of course there's still the issue that click on all meetups gives an error message (the one we discusse

[2015-08-14 22:26] tog22 commented on #29
I've posted a standard 'here's a problem, we're aware of it' message on the Forum: http://effective-altruism.com/ea/me/housekeeping_notice_the_meetups_sidebar_is/

[2015-08-15 16:30] tog22 commented on #28
PR submitted: https://github.com/tricycle/eaforum/pull/13 . As I said on Slack, `paster` is broken on my local install so I can't test it just now, but others have and it's simple enough that I can see it _should_ work and can't break anything too bad.

[2015-08-15 16:55] tog22 commented on #7
@arichard4 - I assume I'll need to reopen this issue after PR https://github.com/tricycle/eaforum/pull/13 is merged?

[2015-08-16 02:24] patbl commented on #8
Sure, I'll take a look at it tomorrow.

[2015-08-16 05:58] tog22 commented on #8
:raised_hands:

[2015-08-16 17:28] tog22 opened #31 "Display tags on posts"
How valuable do people think this would be?

[2015-08-16 19:10] tog22 commented on #31
Conclusion from https://www.facebook.com/groups/dotimpact/permalink/489215301246125/ : lower priority than other tasks, but worth someone not doing anything else taking on.

[2015-08-16 19:17] arichard4 commented on #7
Possibly not; I would expect so, but my quick test showed this still being fixed under wrsaunde's edit

[2015-08-16 19:47] tog22 commented on #7
OK, can you test it on the live site after you see that PR gets merged (and deployed in the live HTML)?

[2015-08-16 19:47] tog22 commented on #7
(And reopen this issue yourself if need be.)

[2015-08-16 19:58] arichard4 commented on #7
Yes

[2015-08-16 19:59] arichard4 commented on #29
I've just gotten my local meetups version working again, by restarting the vagrant box. Here's the error traceback for trying to access the meetup page:

<pre>Module r2.controllers.validator.validator:78 in newfn

Module r2.controllers.meetupscontroller:176 in GET_show

Module r2.lib.db.thing:497 in __getattr__

Module r2.lib.db.thing:124 in __getattr__

<type 'exceptions.AttributeError'>: assoc_l

[2015-08-17 00:02] tog22 commented on #28
@wrsaunde Trike have now deployed my PR to http://effective-altruism.com/. Can you confirm it's fixed this issue?

cc @arichard4 just FYI.

[2015-08-17 00:13] william-r-s commented on #28
It's fixed (chrome and firefox on Android)

On Sun, Aug 16, 2015 at 8:02 PM, tog22 notifications@github.com wrote:

[2015-08-17 00:14] #28 closed

[2015-08-17 00:29] RyanCarey commented on #28
Android works well for me, as do comments.
On Aug 17, 2015 1:13 AM, "wrsaunde" notifications@github.com wrote:

[2015-08-17 01:30] arichard4 commented on #31
Already implemented

[2015-08-17 01:31] arichard4 commented on #31
May be useful to display them with different graphics/make them more obvious

[2015-08-17 01:36] #31 closed

[2015-08-17 10:51] RyanCarey opened #33 "slight ui signup bug"
A user sent me this bug:
"I just signed up, then confirmed my email address.  As you can see by the attached image - the messages on that page are confusing - it says "thanks for confirming" then on the next line it says "you need to confirm your email"

The message in the box is probably unnecssary.

![screen shot 2015-08-17 at 17 13 17](https://cloud.githubusercontent.com/assets/8340923/9303467/

[2015-08-17 15:15] peterhurford commented on #28
Yep, working for me now as well.  Good work! :+1:

[2015-08-18 21:04] arichard4 commented on #29
Playing around on the server error screen, it looks like assoc_link genuinely isn't being generated; the table reddit_data_meetup doesn't include assoc_link for any of the three meetups. MeeetupsController.py commits newly created meetups to the db twice; the full code is here:

[code]

It's possible that the second commit is failing silently; that _commit doesn't know to commit .assoc_link; that

[2015-08-18 22:14] tog22 commented on #29
Thanks for trying to get to the bottom of this Alex! Say if you want me to get Trike to do anything, such as recompiling r2.

[2015-08-23 20:48] patbl commented on #8
My hack of using using a query parameter doesn't get to the root cause of the bug. If you click the "Comments ([number of comments)" link in the upper right after logging in, you appear to be logged out again. But this seems like kind of a corner case, and there are probably more important things to be working on.

[2015-08-23 21:01] tog22 commented on #8
Agree with that. :smile:

[2015-08-23 22:21] arichard4 commented on #29
Update:
In the above section of code, the error is located within the line
l = Link._submit(meetup_article_title(meetup), meetup_article_text(meetup),
                 c.user, Subreddit._by_name('meetups'),ip, [])

Here's the full traceback:

<pre>Module r2.lib.jsonresponse:181 in _Json

Module r2.controllers.validator.validator:78 in newfn

Module r2.controllers.meetupscontroller:93 in POST_creat

[2015-08-24 02:04] tog22 commented on #29
@arichard4:

Looks like some progress! I imagine it's tough, but can you _estimate_ when you'd expect this to be fixed? If it's some way off I think I maybe should disable meetups in the sidebar after all?

[2015-08-24 20:57] arichard4 commented on #29
The problem is caused by my changes to showmeetup.html for implementing profile links; reverting them fixes it

[2015-08-30 12:54] arichard4 opened #35 "Automate Testing"
Testing is currently entirely manual, except for the unused wiki. The manual testing steps are specified in test/manual.txt; however, the manual testing steps are badly out of date- for example, meetups are not tested at all. This is all bad.

[2015-08-30 15:20] tog22 commented on #35
:+1:

I and (principally) @peterhurford have been doing some manual testing with the current workflow:
1. Get a complete set of changes we're considering approving into a branch in this community development fork.
2. Test them on our local vagrant boxes.
3. Submit a PR from that branch to trike master (the live production repo).

Updating test/manual.txt might be the most worthwhile low hanging fr

[2015-08-30 16:15] peterhurford commented on #35
Longer-term, we really do need to start thinking about how to add automated tests.

[2015-08-30 21:58] arichard4 commented on #30
Testing this requires changing debug= true in development.ini to debug=false, then breaking the site.

This made a _whole lot_ of changes, and I'm going to try to see what method Trike used to compile the .po files to see if I can make fewer. Essentially, most strings are specified in eaforum/r2/r2/i18n/en/LC_MESSAGES/r2.po; this file is then compiled to eaforum/r2/r2/i18n/en/LC_MESSAGES/r2.mo. Tr

[2015-08-30 22:04] tog22 commented on #30
Hmm, that is a lot of changes, how confident are you that none are (significantly) problematic? If you're confident there are probably more valuable things you can do than reducing the number of changes. :) Can @peterhurford and I submit a PR with this commit?

[2015-08-30 22:30] arichard4 commented on #30
Not confident at all, I have no idea what's going on behind the scenes in r2.mo and will keep looking for reddit's .po->.mo compilation method. (I can't do it manually- that broke the error message such that it displayed the message id instead of the actual message.)

Can you merge this into master but not submit a PR to trike? This isn't at all an urgent issue, so we can build future stuff on top

[2015-09-02 19:44] arichard4 commented on #30
Right, got it down to only the necessary changes

[2015-09-02 19:57] tog22 commented on #30
Awesome! Over to you to handle the PR @peterhurford

[2015-09-08 17:52] RyanCarey commented on #29
New error - when I click Petrov Day meetup, I get this: http://effective-altruism.com/meetups/3r:
"Error encountered

You have encountered an error in the code that runs Less Wrong. The site maintainers have been informed and will get to it is as soon as they can.

In the unlikely event that you've bumped into this error before and think that no-one is paying attention, please report the error and

[2015-09-09 18:02] arichard4 commented on #29
That's the same as the old error- the meetups are not getting created correctly in the db. The above change appears to fix it.

The incorrect server error message is issue #30, for which I've also submitted a fix.

[2015-09-15 19:11] peterhurford commented on #30
Submitted to Trike as https://github.com/tricycle/eaforum/pull/17

[2015-09-15 19:11] peterhurford commented on #29
Submitted to Trike as https://github.com/tricycle/eaforum/pull/18

[2015-09-15 19:11] peterhurford commented on #25
Submitted to Trike as https://github.com/tricycle/eaforum/pull/19

[2015-09-16 10:29] RyanCarey opened #39 "Being logged out"
Daniel Filan: "I'm having trouble logging in to the EA forum. When I'm on
effective-altruism.com I can log in (and remain logged in), but when I
click on an article, I appear to no longer be logged in. If I go back to
the main page, I see myself as logged in again. Do you have any idea why
this should be the case, or how to fix it?"

I've not noticed this personally Any thoughts? I've linked Dan h

[2015-09-16 11:27] dfilan commented on #39
Possibly relevant: before noticing this, I changed my password.

[2015-09-16 11:37] dfilan commented on #39
Actually, the problem seems to have disappeared now. I'm not sure why this would be the case - the only thing that has changed is the passage of time and which wireless network I am connecting from (problem was on university wifi, am currently using home wifi). I can see if the problem re-appears when I go back to uni tomorrow.

[2015-09-16 17:02] tog22 commented on #39
I suspect this is the already-noted issue of people appearing logged in
only when they refresh pages. @patbl, can you remind @peterhurford and I
what the current status on fixing this is? :)

On Wednesday, 16 September 2015, Daniel Filan notifications@github.com
wrote:

##

##

I receive a lot of email and limit my time spent on it, so may take a while
to see or reply to messages; I may be able to

[2015-09-16 20:53] peterhurford commented on #39
I think if people were happy with Patrick's solution on https://github.com/tog22/eaforum/issues/8, we can submit that to Trike.

[2015-09-17 00:08] tog22 commented on #39
I'm happy with it if @patbl is, are you good to handle it when you have time @peterhurford ?

[2015-09-17 00:09] tog22 commented on #39
Closing - @dfilan seems to find this sufficiently hard to replicate that I suggest we wait to see if we get more reports of this or encounter it ourselves after the PR is merged.

[2015-09-17 00:09] #39 closed

[2015-09-17 05:13] dfilan commented on #39
At university again, cannot replicate the problem.

[2015-09-17 18:02] tog22 commented on #39
OK, thanks for letting us know Daniel, post here if you ever find a way to replicate it :smile:

[2015-09-17 18:12] tog22 commented on #29
The PR's merged (allegedly) but the error persists, I just tested it by making http://effective-altruism.com/meetups/3v . Though the error message there hasn't changed either, suggesting the PRs may not actually be deployed?

[2015-09-21 19:43] RyanCarey opened #40 "Search doesn't work in Firefox"
Hi! :)

The forum's search option doesn't work when I'm using Mozilla Firefox (see apendix). It works in Chrome and in Internet Explorer.

Best regards,
Luís Campos

[2015-09-21 22:59] LLCampos commented on #40
![ea_problem](https://cloud.githubusercontent.com/assets/12008784/10007398/b7683a10-60bc-11e5-922f-97dbcd4375b2.PNG)

This is what i get.

[2015-09-22 16:42] tog22 commented on #40
I had one of the tech team look into this but with no progress. Will update
if they make any.

On 21 September 2015 at 15:59, LLCampos notifications@github.com wrote:

[2015-09-22 19:21] peterhurford opened #41 "Meetups are still broken"

[2015-09-22 19:21] peterhurford commented on #41
@arichard4

[2015-09-22 19:22] peterhurford commented on #40
@tog22 Who's looking at it?

[2015-09-22 19:38] peterhurford opened #42 "Make the blue bar less abrasive"
Someone mentions: "are there any plans to change the comments on the EA Forum? I find the thick blue border around each of the nested comments a bit abrasive and unnecessarily large. This is definitely a minor, minor issue, but thought I'd bring it up, and didn't know where the best place to mention it was."

[2015-09-22 19:39] peterhurford commented on #42
A suggestion is to only blue the top-most new comment rather than each one.

[2015-09-22 19:45] peterhurford commented on #29
The PR was deployed, so the error must be persisting.  @arichard4 can you look at it?  Or are you busy again with school?

[2015-09-22 19:45] peterhurford commented on #41
Duplicate of https://github.com/tog22/eaforum/issues/29

[2015-09-22 19:45] #41 closed

[2015-09-22 20:04] peterhurford commented on #25
I'm still keeping this issue open just to confirm.

[2015-09-22 20:07] peterhurford commented on #6
@tog22 I'm assuming @alexflint isn't available to do this.

[2015-09-27 21:31] arichard4 commented on #29
Sorry, was busy starting school
The issue is that the PR for some reason didn't actually update Trike's version to match the version on tog22; you can see this by comparing them now:

Trike's version still has the line importing userlink_profile from utils at the start, which is the line breaking meetups:
https://github.com/tricycle/eaforum/blob/master/r2/r2/templates/showmeetup.html

The version

[2015-09-28 03:52] arichard4 commented on #30
tricycle#17 was the .po file, but not the .mo file, so production isn't currently showing the changes (The .po file is compiled to the .mo binary, which various parts of the code draw text from)

[2015-09-28 04:33] arichard4 commented on #40
Not me, but:
Reproduced. Of note is that, at least for the search term 'pesticides', it does display a google ad for pesticides, but no actual content.

[2015-09-28 15:34] peterhurford commented on #30
@arichard4 How do you compile the .mo from the .po?

Can you submit a PR to tricycle/eaforum directly from your personal fork and then mention it in the issue?  (That's how we're doing it now.)

[2015-09-28 16:35] tog22 commented on #30
Or submit if from a branch on this community development  fork, and mention
the issue in the commit message, up to you.

On 28 September 2015 at 08:34, Peter Hurford notifications@github.com
wrote:

[2015-09-28 21:35] arichard4 commented on #30
I pushed the compiled/binary .mo here, as part of this commit:
https://github.com/tog22/eaforum/commit/d3ed6397d4b64e79e5237f6a6476063d8352254f

I'll submit a PR today.

[2015-09-29 01:21] tog22 commented on #6
Indeed. @imbenclifford - here's a shovel-ready task that you can assign to people or not, as you decide. I suggest we just leave it at that.

[2015-09-29 15:02] peterhurford opened #43 "Meetup http://effective-altruism.com/meetups/3y is crashing"
None of the other meetups seem to be broken.

[2015-09-29 15:04] peterhurford commented on #43
I imagine the meetup was just broken via our meetups fix, so we can probably just delete the meetup and move on.  ...Or bury it over time in new meetups.

[2015-09-29 15:05] tog22 commented on #43
Bury it over time, I deliberately set its date as soon so it'll disappear shortly

[2015-09-29 15:05] #43 closed

[2015-09-29 15:05] tog22 commented on #43
it was actually a fake meetup i made as a test

[2015-09-29 15:05] peterhurford commented on #43
:+1:

[2015-09-29 20:12] arichard4 commented on #43
Other new ones being added are confirmed as working:
http://effective-altruism.com/meetups/40

[2015-09-29 20:14] #25 closed

[2015-09-29 20:15] arichard4 commented on #25
I've looked in the javascript generating the sidebar, and it no longer checks goodventures.

[2015-09-29 21:31] tog22 commented on #43
Woohoo! :dancers: :tada:

[2015-10-04 19:56] #29 closed

[2015-10-04 20:06] arichard4 commented on #40
Haven't tested it yet, but one potential solution to this is here:
https://productforums.google.com/forum/#!topic/customsearch/lQAKjUmysfo

tl;dr: We need to remove the extra parentheses provided in Google's default search javascript:

[code]

[2015-10-06 19:20] tog22 commented on #29
:heart: :heart: :heart:

[2015-10-19 16:18] peterhurford opened #44 "Now that spam is on the rise, we should have a report spam feature"

[2015-10-20 13:10] arichard4 commented on #44
This already exists in the reddit codebase, changing 'report=False' to 'report=True' in line 111 of r2/r2/templates/link.html _should_ (in theory) provide this for posts. (Should this also be present for comments? I believe that this will also be a one-line change.)

I can implement and test this by Sunday, definitely.

[2015-10-20 13:38] peterhurford commented on #44
@arichard4 Have I told you lately that you're like _the best_?

[2015-10-20 20:38] tog22 commented on #44
Ditto! :star2: :heart_eyes:

[2015-10-27 03:04] arichard4 commented on #44
Update: so I did technically implement it; however, the base implementation was not helpful at all. Instead, I intend to just make a button that has the user send a message to [somebody] with the comment's url already and report message already filled in.

(The base implementation was broken in at least 2 different ways and also AFAICT didn't actually send a regular message to the mods- the only e

[2015-10-27 05:59] tog22 commented on #44
Yeah, that seems simple - I assume you mean a button with a `mailto:` link.

[2015-11-13 17:49] tog22 opened #45 "EA Forum search box doesn't work"

[2015-11-13 17:49] tog22 commented on #45
Are you OK to look into this Alex? :smile:

[2015-11-17 20:42] tog22 commented on #45
@patbl - how about you? (cc @peterhurford just FYI)

[2015-11-17 20:42] tog22 commented on #8
@patbl (and @peterhurford ), can we close this issue?

[2015-11-22 06:20] patbl commented on #8
Yes. There's a similar bug for upvoting posts (as opposed to comments). I can't remember whether the behavior is the same as for comments, but it's pretty annoying. I'll create a separate issue for it, though.

[2015-11-22 06:29] patbl commented on #8
Actually, the description seems to encompass upvotes of both comments and articles, so I'll reopen this.

The current behavior for articles is still broken.
1. You're logged out.
2. You click the upvote button for an article.
3. The log-in modal appears.
4. You log in.
5. The log-in modal disappears, but you still appear to be logged out.

After completing these steps, you can cycle through them i

[2015-11-23 00:15] patbl commented on #8
I guess it was fixed, but the fix hasn't been deployed. I think we should keep an issue open till the fix is deployed and we've verified that it works in production.

[2015-11-23 00:16] patbl commented on #45
I'll take a look.

[2015-11-23 00:21] tog22 commented on #45
Great, thanks!

[2015-11-23 04:39] patbl commented on #45
:point_up: Here's the fix.

[2015-11-23 08:39] patbl opened #46 "When you're logged in and you click your profile link, the logged-in portion of the header disappears"
When you're logged in and you click your name in the header, the bit of the header with your name and karma and a sign-out link disappears:

![before](https://cloud.githubusercontent.com/assets/1735266/11332397/380525be-917a-11e5-9b84-bc1381a6e4d6.png)

![after](https://cloud.githubusercontent.com/assets/1735266/11332400/3c33da36-917a-11e5-996f-bb2cde1fbfd2.png)

[2015-11-23 16:51] tog22 commented on #8
Agreed

On 22 November 2015 at 16:15, Patrick Brinich-Langlois <
notifications@github.com> wrote:

[2015-11-24 04:02] patbl commented on #42
Fixed by https://github.com/tricycle/eaforum/pull/23.

[2015-11-24 04:02] #42 closed

[2015-11-25 08:30] patbl commented on #46
[This](https://github.com/patbl/eaforum/commit/4e1bc0454cfe63d34a594bc04211222d728b5b55) seems to fix it. I wonder whether there's a reason for the existing complexity. It seems like an unnecessarily indirect way of getting things to behave in the desired fashion.

[2015-11-25 18:25] tog22 commented on #46
Not sure if this is the explanation here, but Trike have said they really don't understand the codebase and have had to make lots of edits with hacks (like rewriting the page with JS).

[2015-11-26 05:13] patbl commented on #27
I wonder whether it's worth having meetups on the EA forum. Currently, it's not really being used. I guess that could mean either that it needs more work, or that we should cut our losses, or that people just aren't aware of it.

Facebook seems so much better for advertising events like this. There are people who don't use Facebook, though.

It might be worth talking to leaders of local groups abo

[2015-11-30 05:58] patbl commented on #35
The code is so hairy and poorly understood that our best bet would probably be to create a QA server and use Selenium to run integration tests. This seems that it'd be a bit of work, and it would probably be facilitated with help from Trike.

If we don't plan on making many changes to the forum, though, automated testing seems unnecessary.

[2015-11-30 17:11] peterhurford commented on #35
@patbl :+1:

[2015-12-01 00:07] tog22 commented on #27
Good point, thanks for raising this. We should definitely consider cutting
our losses. I talk to local group leaders often so will ask them about the
EA Forum feature next mass email I send out to them all. What do you think
@peterhurford and @ryancarey ?

On 25 November 2015 at 21:13, Patrick Brinich-Langlois <
notifications@github.com> wrote:

[2015-12-01 00:14] RyanCarey commented on #27
Yeah I think it's of neutral to mildly negative value atm. Not sure if it
can be integrated with Facebook and am happy to hear input on what should
be done.
On Dec 1, 2015 11:07 AM, "tog22" notifications@github.com wrote:

[2015-12-01 00:21] tog22 commented on #27
We had Alex Flint try looking at FB integration in another github issue and
it turned out to be quite difficult, so realistically I think we should
assume that's a no go. Assuming everyone's happy with this I'll go ahead
and ask the group organizers for their thoughts about the feature and
whether they'd find it useful enough to use (perhaps after we make any
changes they suggest). Then I'll pass

[2015-12-01 17:18] peterhurford commented on #27
I think it's best that features related to meetups are driven by the demand of meetup organizers.

[2015-12-01 17:18] peterhurford commented on #27
It also seems plausible that if we do meetup-related work it might be best done in the EA Hub or on Meetups.com.

[2015-12-01 17:39] tog22 commented on #45
They've merged this but the search button is still hidden, could you unhide it @patbl ? Maybe one of us commented it out?

[2015-12-01 18:20] patbl commented on #45
This needs to be merged for it to show up: https://github.com/tricycle/eaforum/pull/24

[2015-12-01 18:23] tog22 commented on #45
Ah gotcha, I've chased our main Trike contact there.

[2015-12-01 19:01] michaeldickens opened #47 "Detect and handle mass-downvoting"
I noticed that Diego Caleiro appears to be getting mass-downvoted by someone (a lot of his comments are at -1). I’d consider this bad behavior. There could be a system to detect if person A repeatedly downvotes person B in a short period of time, and disregards their downvotes. I believe reddit works this way.

[2015-12-01 19:05] tog22 commented on #47
I agree that that's bad behaviour, and have occasionally noticed similar pattens on the forum. However we probably ought to do some community consultation before implementing such a feature and then warn people, since many forum readers presumably assume their downvotes are private. What do you think @ryancarey? Should you or @michaeldickens post about this on the latest open thread, or on a separ

[2015-12-01 22:54] tog22 commented on #27
Yep, agreed - having it driven by the demand of meetup organizers makes
sense, and it seems like my plan of asking in the newsletter is a decent
way to go about that. I wouldn't be surprised if using Meetup.com and
Facebook is the way groups end up going, but ultimately they'll decide that
organically.

On 1 December 2015 at 09:18, Peter Hurford notifications@github.com wrote:

[2015-12-02 01:06] patbl commented on #45
Looks like it's fixed.

[2015-12-02 01:06] #45 closed

[2015-12-02 01:08] patbl commented on #40
I can't reproduce this. Maybe it was fixed along with #45. Does anyone else have problems with search in Firefox?

[2015-12-02 01:20] patbl commented on #46
FIxed by that :point_up:.

[2015-12-02 01:20] #46 closed

[2015-12-02 01:24] patbl commented on #47
This has been a problem on Less Wrong:

http://lesswrong.com/lw/77b/please_do_not_downvote_every_comment_or_post/
http://lesswrong.com/lw/jo7/a_few_remarks_about_massdownvoting/
http://lesswrong.com/lw/kbk/meta_policy_for_dealing_with_users/

Maybe there's something to be learned there. Dunno what they ended up doing.

[2015-12-02 07:39] LLCampos commented on #40
Yes, it's fixed. (I was the one who reported the problem)

[2015-12-03 03:10] #40 closed

[2015-12-07 16:01] #8 closed

[2015-12-07 16:01] #33 closed

[2016-01-03 02:54] patbl opened #48 "Escape key should close log-in modal"
From https://github.com/tricycle/eaforum/issues/28:

I tried to upvote a comment.

I was then greeted by a modal window that asked me to login.

As a user I felt like I should be able to hit escape to exit this modal window, but this was not the case.

I may get to offering a pull request with these tweaks, but I'm only presently a Ruby/Rails developer and not yet really familiar with Python or Dj

[2016-01-03 02:55] patbl opened #49 "After upvoting and signing in, user should be redirected to main post page (not dedicated comment page)"
From https://github.com/tricycle/eaforum/issues/28:

I tried to upvote a comment.

I was then greeted by a modal window that asked me to login.

As a user I expected to be taken back to the post page after login (i.e., the post on which the comment I was trying to upvote was a comment). Instead I was taken to a dedicated page for the comment itself.

I may get to offering a pull request with these

[2016-01-05 20:30] tog22 commented on #48
Thanks for copying across Patrick!

[2016-01-23 20:54] tog22 commented on #27
So as planned I asked all the local group organisers about this via the
inter-LEAN newsletter we send them. I told them we were thinking of
dropping it and would like their input on this/suggestions for other
approaches at
https://www.facebook.com/groups/localea/permalink/1181364495226225/ . The
consensus was for dropping it; no one disagreed. There were one or two
feasible suggestions for replace

[2016-01-24 01:11] RyanCarey commented on #27
Yes, I'm not opposed to hiding it. What are the replacements?
On Jan 24, 2016 7:54 AM, "tog22" notifications@github.com wrote:

[2016-01-24 03:16] tog22 commented on #27
The most popular suggestion from the comment thread and emails was to replace it with a link to http://eahub.org/groups as the groups link to their Facebook/Meetup.com groups there, and can pick out the best place to find upcoming events. Presumably the best place for this'd be a bullet point under 'Getting Started' - what do you think of doing that?

[2016-01-24 03:39] RyanCarey commented on #27
Ok link "Meetup groups" there.
On Jan 24, 2016 2:16 PM, "tog22" notifications@github.com wrote:

[2016-01-25 19:30] tog22 commented on #27
Neat, that was simple to resolve! @arichard4 could you submit a pull request direct to Trike for this (it's pretty simple so shouldn't need checking by Peter)? Say if not!

[2016-01-25 22:51] tog22 opened #50 "Password reset not working"
On 21 January 2016 at 08:09, Frazer Kirkman <frazer@frazerk.net> wrote:
Hi,

after requesting a password reset, receiving the email and clicking on the the link in that email, I am taken to a page that says:

The page you requested does not exist

on  http://effective-altruism.com/resetpassword/abcasgfrg

[2016-01-25 22:52] tog22 commented on #50
@arichard4 are you free to look at this, and reply to Frazer ccing Peter as appropriate?

[2016-01-25 23:31] Discordius commented on #47
Yeah, LessWrong dealt with this a good bit. Their general solution was to have mods analyze the logs for downvoting (by messaging TrikeApps) and then be fairly harsh in banning or punishing the relevant offenders. I think people have a reasonable expectation of their voting behavior to be analyzed by the mods, since upvoting and downvoting rings are a pretty common problem on the internet, and peo

[2016-01-25 23:47] tog22 commented on #47
Go for it!

[2016-01-27 00:13] arichard4 commented on #50
Yeah, will do.

[2016-01-29 02:33] tog22 commented on #50
:heart: Alex

[2016-02-02 21:50] peterhurford opened #51 "EA Blogs in sidebar should include the new OpenPhil blog"

[2016-02-02 22:44] tog22 commented on #51
@arichard4 changed this before.

[2016-02-06 17:06] tog22 opened #52 "Add 'Open thread' link to 'Getting started' sidebar"
This should link to the latest post tagged `open_thread`. The link should be below the new meetups one.

[2016-02-07 20:36] patbl commented on #50
The password-reset URL that you get in the e-mail works for only one form submission. You get the "does not exist" error if you use the link after you submit the form. It would be nice to have a more informative message ("That password-reset link has expired. Click here to request a new one.").

I'm not sure whether Frazer was trying to use an expired link or whether there's a bug. I'll ask him wh

[2016-02-07 20:39] patbl commented on #50
There does seem to be another bug to do with resetting passwords: After you submit the form, you are logged in, but the message that's displayed is "Your session has expired."

![your-session-has-expired](https://cloud.githubusercontent.com/assets/1735266/12875108/cd05e456-cd97-11e5-856e-61b6ad7ad48f.png)

[2016-02-08 04:20] patbl commented on #27
We should probably also hide this (on http://effective-altruism.com/prefs/):

![screenshot 2016-02-07 20 17 53](https://cloud.githubusercontent.com/assets/1735266/12878341/f097e226-cdd7-11e5-86cd-928adca46cc4.png)

[2016-02-08 07:03] patbl commented on #6
I worked on this a while ago as a standalone app. I might work on it some more, but it doesn't seem that closely related to the EA Forum.

[2016-02-08 07:04] patbl commented on #35
I'm going to close this because it's not clear that this is worthwhile or what the next steps would be.

[2016-02-08 07:04] #35 closed

[2016-02-08 18:43] tog22 commented on #35
Good call, thanks for the initiative Patrick.

[2016-02-08 18:44] tog22 commented on #50
Thanks for contacting Frazer Patrick

On 7 February 2016 at 12:39, Patrick Brinich-Langlois <
notifications@github.com> wrote:

[2016-02-08 18:46] tog22 commented on #27
Good shout, I see you hid that preference option in your commit.

[2016-02-08 18:47] tog22 commented on #6
Agreed, I'm closing that issue for this reason. Could you assign yourself an Asana task to carry on working on it (as and when you feel like it), so we can keep track of that?

[2016-02-08 18:47] #6 closed

[2016-02-08 18:50] tog22 commented on #26
Closing as redundant.

[2016-02-08 18:50] #26 closed

[2016-02-09 02:41] patbl commented on #30
It looks as though @peterhurford merged a fix. (The only difference I see is the capitalization of "main.")

[2016-02-09 02:42] patbl commented on #30
Oh, I didn't read the bit about mo and po files. Mo files, mo problems.

[2016-02-09 05:41] patbl commented on #6
Sure, here it is: https://app.asana.com/0/49980280880475/88613261675880

[2016-02-09 15:12] tog22 commented on #6
Thanks! That link doesn't seem to work though?

[2016-02-09 15:13] tog22 commented on #30
:heart:

[2016-02-10 04:40] patbl commented on #6
Sorry; it was private.

[2016-02-20 00:14] #52 closed

[2016-02-20 00:14] #48 closed

[2016-02-20 00:15] tog22 opened #53 "Add 'Guide' link at bottom"
Replace 'Powered by reddit' at the bottom with `<a href="https://eahub.org/forum/guide">Guide</a>`

[2016-02-20 00:16] tog22 commented on #53
Would you be OK to do this @arichard4?

[2016-02-20 21:40] patbl commented on #51
Closed by d6af9314a36a0693797bd18ff84bfdefddd62b75.

[2016-02-20 21:40] #51 closed

[2016-02-20 21:45] patbl commented on #53
It's a bit odd to have this information on a different website.

I think "FAQ" might be more easily understood than "Guide."

[2016-02-21 00:37] tog22 commented on #53
Good call about switching to 'Forum FAQ'.

Yeah, that was just cos it was quicker to make there. But thinking about it
you think it's worth it you could make it a regular post on the forum
(pasting in the bit about EA Profile links) and link to it. Either way,
would you be up for doing 3 things fist?

1) adding a question about the relationship to the fb group and if time
other discussion venues.

[2016-02-22 09:14] patbl commented on #27
Closed by https://github.com/tricycle/eaforum/pull/30.

[2016-02-22 09:14] #27 closed

[2016-02-24 22:46] patbl commented on #53
I could do those things, but I'll be on holiday for the next week so probably wouldn't get to it till sometime after that.

[2016-02-24 22:51] tog22 commented on #53
No worries, understood! No one is going to do it sooner after all. :smile:

[2016-02-24 23:31] patbl opened #54 "Duplicate URLs for articles"
Sometimes the same article appears twice in the RSS feed. It looks as though it has something to do with people revising articles. But I've never seen the same article more than twice, but I imagine that people have revised articles more than twice.

Here are a couple of examples:

<img width="1128" alt="screenshot 2016-02-24 18 13 12" src="https://cloud.githubusercontent.com/assets/1735266/133045

[2016-02-25 00:10] tog22 commented on #54
Might that be this issue? https://dotimpact.slack.com/archives/p-forum/p1455547310000002

[2016-03-08 23:15] tog22 commented on #53
That's totally fine, as before no one else is going to do these things
sooner/otherwise!

On 24 February 2016 at 14:46, Patrick Brinich-Langlois <
notifications@github.com> wrote:

[2016-03-14 00:54] patbl commented on #49
I spent several hours trying to fix this. As I recall, the problem was that when I fixed it, #8 resurfaced. So it might be necessary to find a better solution to #8 before this can be fixed.

[2016-03-24 19:00] tog22 commented on #49
I think we can leave it for now until (or rather unless) a volunteer who wouldn't be doing something else surfaces to take it on.

[2016-04-02 23:21] peterhurford commented on #44
@arichard4 Are you up for finishing this? A new rise in spam has made this the top requested feature!

[2016-04-02 23:22] peterhurford commented on #50
@tog22 @patbl Did this ever get fixed?

[2016-04-02 23:22] peterhurford commented on #54
@patbl @tog22 Did this ever get fixed?

[2016-04-02 23:22] peterhurford commented on #53
Looks like this is almost wrapped up!

[2016-04-03 01:52] patbl commented on #54
No.

On 2 April 2016 at 16:22, Peter Hurford notifications@github.com wrote:

[2016-04-03 01:53] patbl commented on #50
No. I couldn't reproduce the bug. I'll contact Frazer again.

On 2 April 2016 at 16:22, Peter Hurford notifications@github.com wrote:

[2016-04-04 02:45] patbl opened #55 "Problems with "Read More" link"
<img width="751" alt="screenshot 2016-04-03 19 39 49" src="https://cloud.githubusercontent.com/assets/1735266/14237082/df064714-f9d3-11e5-9ca3-3a4c384c23a1.png">

In Firefox, the cursor is an I-beam instead of a pointer when you hover over the "Read More" link. This isn't a problem in Chrome.

There's also a slight formatting issue: The ellipsis is part of the hyperlink and immediately precedes "R

[2016-04-04 23:46] peterhurford opened #56 "OpenPhil should be in the list of blogs"

[2016-04-05 14:11] peterhurford commented on #53
Guide is ready - http://www.effective-altruism.com/ea/vm/ea_forum_faq/ - but it still needs to be linked.

[2016-04-05 18:16] patbl commented on #53
I'll take care of this when I get home today.

[2016-04-09 15:33] tog22 commented on #56
Where? If you mean the RSS feed I think it already is, right @patbl / @arichard4 ?

[2016-04-09 15:36] tog22 commented on #54
@patbl based on what you've seen does it appear that it might be the issue I linked to? Pasting this here for when the Slack archive expires:

Alasdair Pearce [6:41 AM]
Bug/question - I keep getting posts in my rss feed that when I go to the main site are not there / not there yet. Like http://effective-altruism.com/ea/tm/saving_the_human_rights_act_in_the_uk/ and a few days ago what I think was a

[2016-04-09 15:36] tog22 commented on #50
Great, thanks! What did he say?

On 2 April 2016 at 18:53, Patrick Brinich-Langlois <notifications@github.com

[2016-04-09 16:21] patbl commented on #56
I tried fixing this in tricycle/eaforum#31, but it seems that the `development.ini` setting isn't what controls this in production. There are other discrepancies between the list in `development.ini` and the generated JavaScript in production, namely in the feeds for Overcoming Bias, Slate Star Codex, Jeff's blog, and Open Phil.

[code]

[2016-04-09 16:25] patbl commented on #56
I imagine this is something that we'd have to ask someone at Trike to update.

[2016-04-09 16:28] patbl commented on #50
He didn't respond. Maybe we should close this if no one else has reported it.

[2016-04-09 16:31] tog22 commented on #50
Sure, just reopen if it he does reply.

On 9 April 2016 at 09:28, Patrick Brinich-Langlois <notifications@github.com

[2016-04-09 16:33] patbl commented on #54
A little bit off topic, but is it the case that links to Slack conversations stop working? They say that on the free plan you can "Search and browse 10k most recent messages." They don't say whether you can link to older messages.

[2016-04-09 16:34] tog22 commented on #54
That's a very good question - if you checked when you had the time and inclination that'd be handy 😍

[2016-04-09 17:23] tog22 commented on #56
That's correct. @arichard4 knows what we need to ask Trike to update - what is that Alex?

[2016-04-17 04:16] patbl commented on #50
Frazer got back to me. Here's a more-detailed account of his problem. I'll investigate soon (50% chance by tomorrow).

![screenshot 2016-04-16 21 14 14](https://cloud.githubusercontent.com/assets/1735266/14585024/760106b0-0418-11e6-9e45-8a5e7c53f30a.png)

[2016-04-17 17:38] patbl commented on #50
It would probably be worth fixing the "Your session has expired" message. I'll work on that.

Frazer tried changing his password, and apparently it didn't update. So there may be an additional, more-subtle bug. But I haven't been able to reproduce it, so I'll set that aside for now.

[2016-04-22 17:49] arichard4 commented on #44
I'm working on it; in Chicago for a conference, so don't have time to finish it right now, but ETA should be sometime next week.

[2016-04-22 20:15] peterhurford commented on #44
@arichard4 You're in Chicago? We should meet up!

[2016-04-26 23:15] peterhurford commented on #56
@arichard4 @tog22 @patbl I can contact Trike. What should I say?

[2016-04-26 23:45] peterhurford commented on #30
PR was merged by Trike.

[2016-04-26 23:45] #30 closed

[2016-04-26 23:49] peterhurford commented on #47
@Discordius @tog22 @patbl @michaeldickens Is there a tractable solution to this problem? Do we have a path forward?

[2016-04-26 23:51] peterhurford commented on #49
@patbl None of your recent PRs addressed this, right?

[2016-04-26 23:52] peterhurford commented on #50
@patbl Any updates on being able to reproduce? Any other things to do here? Otherwise we can close.

[2016-04-26 23:53] peterhurford commented on #53
I see https://github.com/tricycle/eaforum/pull/35 was merged by Trike, but it hasn't taken effect. I assume they need to re-deploy?

[2016-04-26 23:57] patbl commented on #53
I was wondering the same thing. It could also be that the footer is cached. (I haven't checked.)

[2016-04-26 23:59] patbl commented on #53
But the change to the RSS-feed title isn't evident either, so they probably haven't deployed any of the changes yet.

[2016-04-27 00:06] peterhurford commented on #53
I'll follow up in a few days and if it isn't fixed them, I'll ping them to deploy.

[2016-04-27 00:07] patbl commented on #50
I tried to fix one of the issues (showing "Your session has expired" after you successfully reset your password) [here](https://github.com/tricycle/eaforum/pull/36).

It's not a big deal, but I think I should verify that this fix and the ones in my other pull requests work on production before we close the issues—leaving them open makes me somewhat less likely to forget to do this.

I wasn't able

[2016-04-27 00:07] peterhurford commented on #50
@patbl Cool, if you can verify https://github.com/tricycle/eaforum/pull/36 I think we can close this.

[2016-04-27 00:09] patbl commented on #49
Right. I think I did look into this and it seemed as though it would have be a bit of effort to implement (more than I thought it would be). I can't remember why, though.

[2016-04-27 00:10] michaeldickens commented on #47
I don't really know but I have an idea of how to implement this. When someone downvotes a post/comment, check their recent history of voting on this user. If all their recent votes are downvotes, don't count any of them.

[2016-04-27 00:10] peterhurford opened #57 "Clarify and/or improve post formatting UI"

[2016-04-27 00:11] peterhurford commented on #47
@michaeldickens - Maybe I'd rephrase that to "When someone downvotes a post/comment, check their recent history of voting on this user **within the past day**. If all their recent votes are downvotes, **delete all their votes for this user within the past day**."

[2016-04-27 00:24] patbl commented on #47
Here are some questions:

When mass downvoting is detected, should the downvote button be visible? Should it be disabled and have an explanatory tooltip? Another possibility would be to allow the UI to remain as it is but avoid recording downvotes in the database. (If a mass downvoter refreshed the page, the downvote button would become clickable again.)

Should someone be able to downvote without

[2016-04-27 00:28] RyanCarey commented on #47
Just avoid accidentally blocking me / other good-spirited users with this
one!

Often someone will post a handful of unhelpful comments and I'll be
scanning through recent comments and downvote them all!

So I don't think >=3 downvotes with >90% negativity would be a sufficiently
specific filter... Maybe it works if you use a higher number, and only
count posts that are >1 day old?

Ryan Carey | b

[2016-04-27 19:01] tog22 commented on #53
IIRC the change to the RSS feeds can be delayed.

On 26 April 2016 at 17:06, Peter Hurford notifications@github.com wrote:

[2016-04-27 19:06] tog22 opened #58 "301 redirect ea-forum.trikeapps.com URLs to effective-altruism.com"
e.g. http://ea-forum.trikeapps.com/ea/ns/my_cause_selection_michael_dickens/

[2016-04-27 19:07] tog22 commented on #58
@ryancarey - who did you talk to on the Trike end about this way back when?

[2016-04-27 21:44] RyanCarey commented on #58
Michael Webb I think
On Apr 28, 2016 5:07 AM, "tog22" notifications@github.com wrote:

[2016-04-29 22:30] patbl commented on #56
My guess is that they need to make the same change I made in
https://github.com/tricycle/eaforum/pull/31/files in another file (perhaps
named `production.ini.erb`).

On 26 April 2016 at 16:16, Peter Hurford notifications@github.com wrote:

[2016-04-29 22:32] patbl commented on #53
​I still don't see the RSS-feed or footer changes.​

On 27 April 2016 at 12:01, tog22 notifications@github.com wrote:

[2016-05-01 17:33] tog22 commented on #56
@arichard4 knows. I'm just emailing him ccing you guys to check.

[2016-05-01 17:39] tog22 commented on #53
I've asked Michael Webb (`@moggyboy`) in https://github.com/tricycle/eaforum/pull/35

[2016-05-01 17:48] tog22 opened #59 "Add click-tracking to links worth tracking"
To do this you add `onclick="_gaq.push(['_trackEvent', 'Text description 1', 'Text description 2']);"` to `<a>` elements.

As part of this task you'd come up with a list, which it might be good to run past me (and any others) here.

Examples
======

'Recently on EA Blogs' links, for all of which you'd make 'Text description 1' read 'Recently on EA Blogs link' (i.e. saying the same thing), and for

[2016-05-01 17:49] tog22 commented on #59
Hey Patrick, if you're ever not up for one of these tasks just say and unassign them!

[2016-05-01 18:00] patbl commented on #59
Another option would be to use [Heap Analytics](https://heapanalytics.com/), which would let us track everything. The free plan covers 5,000 sessions a month, or 50,000 if we stick this somewhere:

![image](https://cloud.githubusercontent.com/assets/1735266/14943356/855f67ea-0f8b-11e6-8430-23918c88f307.png)

We currently have about 12,000 sessions a month according to Google Analytics, so 5,000 se

[2016-05-04 21:05] tog22 commented on #59
If you think that'd give us data you thought you could personally turn into
something action-relevant then go for it, but without the image :)

On 1 May 2016 at 11:00, Patrick Brinich-Langlois notifications@github.com
wrote:

[2016-05-06 20:44] tog22 commented on #50
Good idea, let's make that the policy for closing issues from now on
On 26 Apr 2016 5:08 pm, "Peter Hurford" notifications@github.com wrote:

[2016-05-08 23:55] patbl commented on #54
There's definitely a bug here, but there's also a very confusing UI that causes people to accidentally post drafts.

There are two buttons, "Submit" and "Save and continue," that as far as I can tell do almost the same thing. The only difference is that "Submit" redirects you to the article URL, while "Save and continue" keeps you on the "Submit article" page.

![confusing-ui](https://cloud.github

[2016-05-09 00:39] patbl commented on #54
For articles that have the same identifier (`tw` below) but different slugs, you can reproduce the bug by changing the title of the article after it's published.

http://effective-altruism.com/ea/tw/the_most_persuasive_writing_neutrally_surveys/
http://effective-altruism.com/ea/tw/dont_write_the_case_for_one_side_survey_both/

The solution is probably to always use the original slug even if the ti

[2016-05-09 16:20] tog22 opened #60 "Add 'Other Resources' to 'Getting Started' menu"
Please add `<a href="/ea/xd/ea_links/">Other Resources</a>` to the bottom of the 'Getting Started' menu, under 'Meetups'.

[2016-05-09 16:47] arichard4 commented on #44
Initial draft is now up on mine; apologies for the delay due to my laptop breaking. My todo list before sending it to Trike is under arichard4/eaforum@62966d69abc373c91f8799a6c7f9fe22095ec22a

That commit also has a fairly full explanation of my backend changes. For the frontend, I did a crude photoshop to produce icons from 'exclamation.png' and put them into the sprites png. It all still needs w

[2016-05-09 17:07] tog22 commented on #44
@patbl can you take a look and give your thoughts? Thanks!

On 9 May 2016 at 09:47, Alex Richard notifications@github.com wrote:

[2016-05-09 17:24] tog22 commented on #54
Agree that this is bad UX. Thanks for bringing it up and suggesting
changes! I think they're good, so please create a github issue for them,
and just unassign yourself from it if you can later tell that you're not
going to work on it. If you do, tag Alex and ask if he's up for doing so.
:)

On 8 May 2016 at 17:39, Patrick Brinich-Langlois notifications@github.com
wrote:

[2016-05-10 03:47] arichard4 commented on #54
Regular reddit appears to have solved the title issue by making them non-modifiable: "Titles, however, are not modifiable once submitted, get those right. If you need to change a title, delete your post and re-submit it."

https://www.reddit.com/wiki/submitting

[2016-05-10 17:34] jeremiahbuddha opened #61 "Pressing "Save and continue" publishes post."
There are two buttons available when creating a new post, "Submit" and "Save and Continue". My impression is that "Save and continue" should save your work but not publish your post, and that the "Submit" button is what you use to actually publish it to the forum. Is this right?

I just did a short test and "Save and continue" is publishing posts, at least from my setup (Chrome Version 50.0.2661.9

[2016-05-10 20:31] tog22 commented on #61
Thanks for reporting this! We're actually planning to change this following discussion at https://github.com/tog22/eaforum/issues/54#issuecomment-217753747 . I've just assigned the person who was talking about it to do so.

[2016-05-10 23:14] jeremiahbuddha commented on #61
Yep, that's exactly the issue, sounds like you guys have a handle on it. Thanks!

[2016-05-11 02:05] peterhurford commented on #61
Thanks @jeremiahbuddha. I'll close this and we can talk about it on https://github.com/tog22/eaforum/issues/54#issuecomment-217753747.

[2016-05-11 02:05] #61 closed

[2016-05-11 02:07] peterhurford commented on #59
@tog22 @patbl What do you think the priority of this should be?

[2016-05-11 02:07] peterhurford commented on #58
I think this is something Trike would have to do?

[2016-05-11 02:51] RyanCarey commented on #58
Isn't this request a bit pointless? The ea-forum.trikeapps was only ever
promoted for a few weeks over 1-2 years ago.

Ryan Carey | bioinformatics student | medical resident

On Wed, May 11, 2016 at 12:07 PM, Peter Hurford notifications@github.com
wrote:

[2016-05-11 03:54] patbl commented on #44
I left a couple of minor suggestions. It looks fine.

[2016-05-11 16:29] peterhurford commented on #44
Thanks @arichard4 @patbl !

[2016-05-11 21:24] tog22 commented on #60
Note to self (Tom): tell Anne complice is here on forum plus EA Hub home page when done, ccing Ryan.

[2016-05-12 03:54] patbl commented on #53
This was fixed, but I just noticed that the spacing around the pipes seems inconsistent.

<img width="662" alt="screenshot 2016-05-11 20 50 10" src="https://cloud.githubusercontent.com/assets/1735266/15203634/7514904a-17ba-11e6-9682-10c3de762a1e.png">

Pretty minor, but easy to fix.

[2016-05-12 03:54] #53 closed

[2016-05-12 04:07] patbl commented on #50
You no longer see "Your session has expired" after resetting a password.

[2016-05-12 04:07] #50 closed

[2016-05-12 06:25] patbl commented on #59
Adding Google Analytics tracking to specific links seems not easy. Generating the links in the "Getting Started" sidebar, for example, involves at least the following classes: `Reddit`, `PaneStack`, `LinkBox`, `Wrapped`. I'm not sure how these work, but it's not a matter of just inserting an `onclick` attribute into a few anchor elements—there are several layers of abstraction.

Heap has the advan

[2016-05-13 19:20] tog22 commented on #58
@peterhurford I already asked Trike.

@careyryan the value is that ea-forum.trikeapps is still the _only_ result
that shows up on Google for some articles, and that's bad for SEO.

On 10 May 2016 at 19:51, Ryan Carey notifications@github.com wrote:

[2016-05-15 04:22] tog22 commented on #59
Ah, didn't realise it was so abstracted. Heap was a good call, I'm glad to
see you submitted a PR for that!

On Wednesday, 11 May 2016, Patrick Brinich-Langlois <
notifications@github.com> wrote:

[2016-05-15 13:55] tog22 commented on #53
Cool - to be crystal clear, will you try fixing this at some point, or should I get someone else to?

[2016-05-15 22:34] patbl commented on #53
Here's the fix: https://github.com/tricycle/eaforum/pull/43

[2016-05-16 00:11] patbl opened #62 "Change UI for saving drafts of and publishing articles"
[Copied from https://github.com/tog22/eaforum/issues/54#issuecomment-217753747]

There are two buttons, "Submit" and "Save and continue," that as far as I can tell do almost the same thing. The only difference is that "Submit" redirects you to the article URL, while "Save and continue" keeps you on the "Submit article" page.

![confusing-ui](https://cloud.githubusercontent.com/assets/1735266/15101

[2016-05-16 14:49] tog22 commented on #62
Are you planning to assign yourself to this @patbl ? No worries if not!

Whoever does this, please implement Patrick's bulleted suggestions for the UI changes.

[2016-05-17 00:58] patbl opened #63 "Article bodies can be blank"
You can submit an article with just a title and no body.

We could require a non-blank (at least one-character) body, or a certain number of characters or words.

This would require displaying an error message if the requirement weren't met.

[2016-05-17 04:29] patbl commented on #62
Maybe, but it would probably be in a couple of weeks. I'll assign myself if I start working on it. Someone else can grab it if they want to.

[2016-05-18 06:42] tog22 commented on #62
@arichard4, in case you're interested in doing a little forum work 😄

[2016-05-18 22:07] arichard4 commented on #62
I'll take a look, will self-assign if I am

[2016-05-18 23:05] tog22 commented on #62
That works well, thanks!

On 18 May 2016 at 15:07, Alex Richard notifications@github.com wrote:

[2016-05-20 23:05] arichard4 commented on #44
OK, seems done. @patbl  @tog22  (/anybody), what is the process now?

[2016-05-20 23:33] arichard4 commented on #44
FYI, here is what it looks like.

Here are the buttons for reporting posts and comments:
![2016-05-20-162829_1366x768_scrot](https://cloud.githubusercontent.com/assets/7397740/15444661/f89d651a-1ea7-11e6-88c5-42c6ef5fc938.png)

They turn blue and have a popup on mouseover:
![2016-05-20-162945_1366x768_scrot](https://cloud.githubusercontent.com/assets/7397740/15444679/19c538a8-1ea8-11e6-93a6-ba7a4e

[2016-05-22 15:58] peterhurford commented on #44
@arichard4 That looks pretty good! Gets the job done and I think the UI is understandable enough. 👍

I think if @patbl @tog22 approve we could go ahead and send this to Trike. I can also check over email with the mods that this is what they'd like.

[2016-05-24 00:41] patbl commented on #44
Am I correct in my understanding that this involves fairly minor code changes? I think I already reviewed the relevant code, except for the bit changing one of the arguments of a method call. That part looks fine too.

It would be easier to see the entire scope of the changes if there were a pull request, but Trike might take the existence of a pull request as meaning that the code is OK to deploy

[2016-05-24 06:50] arichard4 commented on #44
I'll submit a pull request to tog22/eaforum.

[2016-05-24 06:52] arichard4 commented on #44
I've submitted a pull request to patbl/eaforum.

[2016-05-24 12:27] tog22 commented on #44
Looks good to go! Since Patrick found it hard to see what the changes were, would you be up for submitting a pull request direct to https://github.com/tricycle/eaforum by the end of the month Alex? If not, we will, as we normally have 😄

[2016-05-24 12:28] tog22 commented on #44
PS: replied before seeing your last message with the PR to patbl/eaforum, but let me know anyway!

[2016-05-24 12:32] tog22 commented on #44
Code looks simple to me - have you confirmed that the other icons from https://github.com/arichard4/eaforum/blob/3db294f638b596b806071c9545c856f153141161/r2/r2/public/static/icons.png still work?

[2016-05-24 22:27] arichard4 commented on #44
Not sure what you mean by 'still work'- you can see how the page looks in the above screencaps, I can't see any unrelated changes

[2016-05-25 08:06] arichard4 commented on #44
I'm planning on submitting a pull request for this on Friday, if nobody objects/has any comments.
(Should I send this to the email list as well?)

[2016-05-25 19:14] tog22 commented on #44
No, just go for it!

By 'still work', I mean that the other icons still show correctly. Good point, the screencap makes me confident that they will.

[2016-05-25 19:19] peterhurford commented on #44
@arichard4 Seems like we have signoff from everyone so LGTM. Make that PR and I can get Trike to merge.

[2016-06-04 15:34] arichard4 commented on #44
Confirmed as working by Rebecca

[2016-06-04 15:34] #44 closed

[2016-06-04 15:38] arichard4 commented on #60
Verified as working in production

[2016-06-04 15:38] #60 closed

[2016-06-04 15:40] arichard4 commented on #58
Verified as working

[2016-06-04 15:40] #58 closed

[2016-06-05 14:43] peterhurford opened #64 "The Recently on EA Blogs "Poorly Organized Thoughts on Funding" link is broken"
Not sure what happened there...?

[2016-06-05 14:50] peterhurford commented on #64
It looks like the correct link should be http://www.jefftk.com/p/poorly-organized-thoughts-on-funding

[2016-06-05 17:53] arichard4 commented on #64
Jeff's rss feed gives links as relative urls:

http://www.jefftk.com/news/giving.rss

When we display the link, it is completed relative to our base url, not his.

Edit: See also:

http://www.feedvalidator.org/check.cgi?url=www.jefftk.com%2Fnews%2Fgiving.rss

[2016-06-05 18:50] peterhurford commented on #64
Cool - sounds like I should bug him about it...

[2016-06-07 17:50] peterhurford commented on #64
Bugged.

[2016-06-07 19:51] peterhurford commented on #64
Fixed on his RSS but I think it will only fix future links and not repair old ones (since the one on the EA forum is still broken).

That's fine enough with me, so I'll close this.

[2016-06-07 19:51] #64 closed

[2016-06-07 20:48] patbl commented on #59
Seems to be working. Send me your e-mail address if you want access (pbrinichlanglois@gmail.com).

<img width="537" alt="screenshot 2016-06-07 13 46 32" src="https://cloud.githubusercontent.com/assets/1735266/15874046/44f4e43a-2cb6-11e6-9acd-b026fa834f7b.png">

[2016-06-07 20:48] #59 closed

[2016-06-07 20:50] #55 closed

[2016-06-07 21:00] patbl commented on #54
The change I made should prevent a new URL from being created when an article title is updated. But the change doesn't affect the other bug (supposing it is a bug, and not just strange behavior by users) wherein the same article has more than one ID.

[2016-06-08 05:07] arichard4 commented on #56
Has anything happened on this?

[2016-06-08 06:01] patbl commented on #57
We're using a version of TinyMCE that's from 2008: https://github.com/patbl/eaforum/blob/master/r2/r2/public/static/tiny_mce/tiny_mce_src.js#L7

We could see whether upgrading to a more-recent version helps.

If upgrading is a hassle, it might be worthwhile to switch to something better. Ozzie recommends [Draft JS](https://facebook.github.io/draft-js/) (very flexible; depends on React) or [Summern

[2016-06-09 17:21] tog22 commented on #57
TinyMCE also has a 'paste as plain text' and 'paste from Word' button,
which are both intended to prevent inappropriate <style>s being pasted in,
though it'd be worth checking whether the latter is reliable enough to
include. We're writing a guide on avoiding inappropriate <style>s being
pasted in which we're adding to the FAQ, and would update this.

On Tuesday, 7 June 2016, Patrick Brinich-Langl

[2016-06-13 00:43] patbl commented on #56
Not to my knowledge!

[2016-06-13 02:04] peterhurford commented on #56
@tog22 @arichard4 What are the next steps on this?

[2016-06-13 02:13] peterhurford commented on #54
@patbl Thanks for the PR. Should we close this issue now?

[2016-06-13 16:28] patbl commented on #54
Yes, it looks as though the other issue could well have been caused by people deleting their accounts and re-posting the same article under another account.

http://effective-altruism.com/ea/tg/allkind/
http://effective-altruism.com/ea/tj/allkind/

[2016-06-13 16:28] #54 closed

[2016-06-15 10:49] arichard4 commented on #56
The feedbox is generated from a list of rss urls in development.ini. development.ini is in the .gitignore; it is generated from development.ini.erb in the build process, but can't be directly updated via git. (It's in the .gitignore because it also contains stuff involving debugging, ports, etc.) To get the changes to live, Trike will need to manually update r2/development.ini. Specifically, they

[2016-06-15 16:34] peterhurford commented on #56
Contacted Trike.

[2016-06-18 11:10] tog22 commented on #59
Awesome! Are you still up for turning this date into something
action-relevant for us, if only perhaps in a few months? Please add me on
tog.ash@gmail.com either way - ideally letting me add others if that's easy.

On 7 June 2016 at 13:48, Patrick Brinich-Langlois notifications@github.com
wrote:

[2016-06-18 17:20] tog22 opened #65 "Opt-in email notifications when user gets a new 'message'"
Messages show at http://effective-altruism.com/message/inbox/ and include replies to a user's comments. Unfortunately people can't set this up themselves using http://effective-altruism.com/message/inbox/.rss because that only works when logged in. We're not prioritising this as its tricky.

(The old reddit codebase the forum's based on may contain this feature, or it may postdate the fork from re

[2016-06-18 18:08] patbl commented on #59
You've been added. You should receive an e-mail.

On 18 June 2016 at 04:10, tog22 notifications@github.com wrote:

[2016-06-19 14:24] arichard4 commented on #65
Old codebase lacks this feature, I think.

[2016-06-24 04:07] tog22 opened #66 "Add one simple line to <head> to show EA Newsletter signup"
The line is `<script src="//load.sumome.com/" data-sumo-site-id="2115f2f4b9e86f1f2e73c48fb896958ad06ae47bfb80face9329b72cb21fca6c" async="async"></script>`.

I've tested this, and it's thoroughly approved, and quite high priority. Would you be able to do it soon @patbl, and if so when by? I did try finding templates myself quickly, but it's way too opaque for me to have time - it almost looks as i

[2016-06-24 05:08] patbl commented on #66
It's done: https://github.com/tricycle/eaforum/pull/45

Happy Brexit!

[2016-06-27 18:31] tog22 commented on #66
Noooooo! 😱  (To Brexit, not the PR - thanks for that. I'm just chasing Trike.)

[2016-07-04 23:05] arichard4 commented on #63
I would prefer not to make this change:
- I've just spent an hour or so looking through the codebase and starting doing this; it will be fairly complicated to do correctly (i.e. through the forum's existing validation code) (call it 5-6 more hours to get it working well enough to submit)
- It seems like there is no use case for this; in fact, AFAICT reddit today doesn't have this. (See the decorat

[2016-07-05 03:47] arichard4 commented on #56
Trike just removed development.ini from the .gitignore, which works too. I'll push the open phil addition; we all now need to use the same development.ini (e.g. use the same port)

[2016-07-05 03:49] peterhurford commented on #56
@arichard4 👍

[2016-07-05 04:46] #63 closed

[2016-07-05 07:41] #66 closed

[2016-07-08 20:26] tog22 opened #67 "Stop HTML comments showing in post previews"
When there are HTML comments `` in the first few lines of a post, they show up in the preview on the front page at http://effective-altruism.com/ . They'd need filtering out for this.

[2016-07-08 20:27] tog22 commented on #67
Would you be OK to do this @arichard4 ?

[2016-07-08 20:27] tog22 commented on #67
(No worries if not obviously! What's your general availability for tech work these days.)

[2016-07-08 22:07] arichard4 commented on #67
I start fulltime work Monday.
So not so good.

[2016-07-23 03:58] tog22 commented on #67
Gotcha! @patbl, would be great if you could try this when you have a chance!

[2016-07-24 07:19] patbl commented on #67
Sure. I tried the following in dev and couldn't reproduce the issue:

[code]

If you have access to a post with this problem, could you send me a link, or the HTML itself (if it was your post)?

[2016-07-24 21:09] patbl opened #68 "Image uploads are broken"
Here's what it looks like:

![brokenuploads](https://cloud.githubusercontent.com/assets/1735266/17086466/9603d4ba-51a7-11e6-8871-6e1754f779f9.png)

When I try to use it in dev with my personal AWS credentials for S3 (`S3KEY_ID` and `S3SECRET_KEY` in `development.ini`), the upload fails with the message

[code]

I'm not sure whether this error is causing the problem in production as well. The resul

[2016-07-24 22:21] patbl commented on #57
tricycle/eaforum#47 adds a "remove formatting" button.

This seems a pretty common problem in rich-text editors. I've encountered it not infrequently on Gmail. I don't think there's much we can do about it, other than adding a "remove formatting" button.

I'm not sure we'd want to have such options available through the UI. The website would come across as more professional if the formatting were

[2016-08-03 00:54] peterhurford commented on #56
I don't think this worked out...

[2016-08-19 01:16] michaeldickens opened #69 "Strange behavior in replying to downvoted comments"
<img width="623" alt="screen shot 2016-08-18 at 6 14 23 pm" src="https://cloud.githubusercontent.com/assets/414378/17795738/c9819828-656f-11e6-88bc-3d8d0edd4f63.png">
I got this warning when trying to reply to a comment with 0 points. I suspect this is because the comment I wanted to reply to was itself a reply to a comment with negative points. Is this the intended behavior? It seems wrong to me.

[2016-08-25 03:47] patbl commented on #67
@tog22 Do you have an example?

[2016-08-25 03:50] patbl commented on #57
Some of these problems were fixed in https://github.com/tricycle/eaforum/pull/47. There's a separate issue for image uploads. Other bugs and feature requests can go in separate issues.

[2016-08-25 03:50] #57 closed

[2016-08-25 04:48] patbl commented on #69
It looks as though it checks each parent of your reply for downvoting and applies the penalty if any of the ancestors was sufficiently downvoted:

https://github.com/patbl/eaforum/blob/master/r2/r2/models/link.py#L1086..L1090
https://github.com/patbl/eaforum/blob/master/r2/r2/models/link.py#L965..L973

It seems to be the behavior intended by the author, but I don't know whether it's a good idea.

[2016-08-28 14:56] jayqui opened #70 "ol tags not customizable by type"
I submitted [a post](http://effective-altruism.com/ea/10u/film_as_an_ea_outreach_tool/) and wanted to customize the type of characters that would serve as bullets in some of its ordered lists. I changed the `type` attribute in the relevant `<ol>` tag to make it `<ol type="a">`, but this didn't trigger the expected change (e.g. [this fiddle](https://jsfiddle.net/mrjrx9g5/)).

[2016-08-28 21:18] patbl commented on #70
Seems easy to fix: https://www.tinymce.com/docs/configure/content-filtering/#extended_valid_elements

My dev environment is jacked up, though, so it may be a while before I get around to doing any more work on the forum.

[2016-09-01 13:46] tog22 commented on #67
Sure, see 'Help SHIC Get Off The Ground' at http://effective-altruism.com/user/Tom_Ash/ . By the way, I'm stepping back from .impact work so won't be dealing with its EA Forum work from now on - I've asked Georgie Mallett (the new manager of .impact) and Peter to say who the best person to tag is (it may revert to @peterhurford for a while).

[2016-09-05 21:05] peterhurford commented on #67
Here's an example:

![](https://puu.sh/r19KL/2f4d36ba54.png)

[2016-09-05 21:17] peterhurford commented on #69
I'm going to close this issue since it's not technically a bug, but if enough people don't like it we could reopen this as a feature request.

[2016-09-05 21:17] #69 closed

[2016-09-10 23:48] patbl opened #71 "Validation of email-verification code is too strict"
When you sign up for an account you get an e-mail like this:

![screenshot 2016-09-10 16 45 07](https://cloud.githubusercontent.com/assets/1735266/18414224/fdf46faa-7775-11e6-81eb-f253a033a8d4.png)

Validation of the code should be case insensitive and should ignore characters that aren't alphanumeric (e.g., spaces and periods).

[2016-09-13 04:07] #70 closed

[2016-09-14 05:48] patbl commented on #56
Maybe we should cut our losses.

[2016-09-15 23:55] michaelwebb76 commented on #56
Sorry @peterhurford I haven't been tracking this issue. Production gets deployed with a `production.ini` that is kept in a separate, private repo. This is the thing that needed to be updated with the additional URL. I've just updated and deployed it.

[2016-09-16 00:56] patbl commented on #56
Wowowowow, it's fixed!

![](https://media2.giphy.com/media/12Ykt1s73rhhWE/giphy.gif)

[2016-09-16 00:56] patbl commented on #56
Wowowowow, it's fixed!

[2016-09-16 00:56] #56 closed

[2016-09-16 00:57] peterhurford commented on #56
Thanks @moggyboy! 👍

[2016-09-18 03:22] patbl commented on #65
Sorry, I don't understand. Is the idea that we want to e-mail people when people reply to their comments? What does this have to do with that RSS feed?

[2016-09-26 15:42] peterhurford opened #72 "Should MIRI be on the list of blogs?"
...CFAR is.

[2016-09-27 05:14] patbl opened #73 "Allow virtual assistant to fix formatting on posts"
@oagr suggested this.

Articles often have bad formatting, usually owing to copy-and-pasting from rich-text editors or HTML. The idea is that we could identify valuable, badly formatted posts shortly after publication and send them to a virtual assistant to improve the formatting.

Here's an example of a post that's a bit difficult to read because of the formatting: http://effective-altruism.com/e

[2016-10-04 19:32] Discordius opened #74 "Pound sign formatting broken"
It looks like there are some special character problems. I don't know exactly when they show up, but in this article the pound sign is broken:

http://effective-altruism.com/ea/5e/efficient_charity_do_unto_others/#comments

[2016-10-04 21:08] patbl commented on #74
To clarify, this refers to the symbol for the British pound, not the octothorp.

In case the article is edited, here's the relevant text:

[2016-10-05 04:57] patbl commented on #74
The problem seems to be specific to that article. The text was probably copied from some other source and was mangled in the process. Here's what a test post looks like:

![poudns](https://cloud.githubusercontent.com/assets/1735266/19101472/7594dbc0-8a7d-11e6-86ac-df8df496fee0.png)

[2016-10-05 04:57] #74 closed

[2016-10-05 05:14] patbl commented on #67
Fixed by tricycle/eaforum#51.

[2016-10-05 05:14] #67 closed

[2016-10-05 05:14] patbl commented on #65
Can someone help me understand this?

[2016-10-05 05:28] patbl commented on #72
I unsubscribed from MIRI's RSS feed because I found the content too technical. I imagine that that's true of most EAs. But I'm not strongly opposed to it.

According to Heap, about 1% of visitors clicked the blog links in the past month, and 41% clicked on anything. So maybe 2.5% of people who engaged with the site at all clicked on one of the blog links. I don't think it matters much what we put

[2016-10-05 05:41] patbl commented on #49
@peterhurford and anyone else: I have a pull request (https://github.com/tricycle/eaforum/pull/52) to address this issue, but I'm not satisfied with it. It attempts position the comment at the top of the viewport, but if there's not enough room (e.g., if there aren't any comments below it), it won't be able to do this.

It would be possible to visually highlight the comment, perhaps with an animat

[2016-10-05 16:45] Discordius commented on #74
Ah, I see. I guess we will ping Scott personally then (trying to fix the
formatting, since it's an article we link to reasonably often).

On Wed, Oct 5, 2016 at 5:57 AM Patrick Brinich-Langlois <
notifications@github.com> wrote:

[2016-10-05 21:16] tog22 commented on #49
I think tricycle#52 is acceptable - colouring the upvoted comment would be nicer, but I reckon it's only worth doing if you have a bit of spare EA time and feel like it. 😄

[2016-10-05 21:18] tog22 commented on #65
Your interpretation is right Patrick. You can ignore the reference to the RSS feed - I was simply saying that people can't subscribe to that RSS feed because it shows only when you're logged in.

(cc @georgiemallett, @peterhurford )

[2016-10-08 03:02] patbl commented on #73
An alternative would be to pay $58 a month for the [TinyMCE PowerPaste plug-in](https://www.tinymce.com/docs/enterprise/paste-from-word/). This might be cheaper than hiring a VA, and would be very easy to implement.

$58 a month isn't nothing, but it seems worth it if it works.

[2016-10-08 03:05] patbl commented on #73
I'd be willing to fund it. I wonder whether it would be worth the effort to try negotiating a non-profit discount.

[2016-10-08 03:47] patbl commented on #73
I sent them an e-mail.

This would be somewhat difficult to test because I can't paste from Word. (I develop on Linux.) Testing on production would be difficult as well, since there doesn't seem to be a "paste the old way" option. It would be possible to compare output only from articles saved before the deployment of the PowerPaste plug-in.

It would be possible to test the [HTML import](https://

[2016-10-08 04:46] patbl commented on #47
I don't have access to the production database, so I can't test algorithms against real-world data to see how successful they are at accurately identifying inappropriate downvoting patterns.

The manual approach might work. We could build an admin page that shows a user's voting history. People would be banned only in response to complaints or suspicious patterns happened upon by admins. Banning i

[2016-10-08 05:11] RyanCarey commented on #47
Costing one point to vote seems like a good status quo. It means you can't
pump votes by making lots of accounts, unless you had a lot already, right?

I'm not to fazed by this, and you can do what you think is needed.

On Oct 7, 2016 9:46 PM, "Patrick Brinich-Langlois" notifications@github.com
wrote:

[2016-10-08 05:50] patbl opened #75 ""Recent Comments" sidebar should link to article, not dedicated comment page"
Similar to #49.

[2016-10-08 05:54] tog22 commented on #47
Rereading our exchanges above I have a suspicion that there's no very good, tractable, likely-to-get-implemented solution which is particularly superior to the status quo. Patrick's idea of requiring more points to downvote (I'd say 15) seems the simplest improvement. I'd suggest Patrick say whether there's anything he thinks he should and would do, people then have 5 days to comment, and unless t

[2016-10-08 06:02] RyanCarey commented on #47
Oh wait, you're required to have points for downvoting, not for upvoting. I
see. this means people can still pump votes by creating accounts.

I don't think increasing the required amount of votes for downvoting helps
- it's the upvoting that seems more relevant to me, because people use that
  for self-promotion.

So of the suggestions we have so far, I'd favor the status quo.

On Fri, Oct 7, 201

[2016-10-08 12:09] peterhurford commented on #47
I'm okay with punting on this.

[2016-10-08 12:36] peterhurford commented on #72
Fair enough. I don't think anyone has complained... and it was a reasonable ordeal to get OpenPhil up there. Fine on punting on this.

[2016-10-09 22:32] #72 closed

[2016-10-10 04:11] #49 closed

[2016-10-14 03:13] patbl opened #76 "The edit-article page should always link to a preview of the article"
The styles applied in the editing area and the final post are somewhat different, so it would be good to give people a way of viewing the post the way it'll look when it's published. You used to be able to do this, but I took away the option in the recent UI overhaul.

[2016-10-14 03:16] patbl commented on #62
The tag and "Post to" form elements have been removed.

The UI overhaul introduced [this issue](https://github.com/tog22/eaforum/issues/76), which I'll fix soon.

Other loose ends can have their own issues.

[2016-10-14 03:16] #62 closed

[2016-10-15 18:29] tog22 commented on #62
Great work!

On 13 October 2016 at 20:16, Patrick Brinich-Langlois <
notifications@github.com> wrote:

[2016-10-15 18:53] tog22 commented on #73
@patbl & @peterhurford - we could pay for it out of .impact funds if we think it's worth it. However $58 a month is a fair bit, and I'm not _sure_ that it is worth it. Part of the reason is that I have a bunch of experience with websites where people paste in text with formatting gunk, and it's not just Word - these days I imagine it's as common pasting from GDocs, though Word gives the worst mark

[2016-10-18 23:49] peterhurford commented on #73
I copy/paste from GDocs, but I always use [HTML Cleaner](https://html-cleaner.com/) as a middle layer to improve the formatting.

I'm curious how many of the articles feel badly formatted... I haven't noticed it as an issue.

[2016-10-31 19:19] RyanCarey opened #77 "Deleting post UI"
Currently, if you want to delete a comment, you have to "retract" it (with the (-) button), then refresh the page, then "delete" it (with the ! button).

People keep asking me how to delete posts, so someday it would be good if we could make it so that you don't have to refresh the page in-between retracting and deleting the post. This would be more intuitive.

[2016-10-31 21:00] tog22 commented on #77
Yep, sounds good! @patbl would you be OK to implement this at some point? ( cc @peterhurford & @georgiemallett )

Do people think we should keep the 'retract' button and add a 'delete' one in addition? Or should we replace 'retract' with 'delete'?

[2016-10-31 21:07] RyanCarey commented on #77
That's a sensible question Tom. One button would be more intuitive.

Currently, you can retract a post that has replies, but you can't delete
it.

I don't think we should allow people to delete posts that have replies.

But also, I don't think people use retract very much.

If we killed that feature, and someone really wanted to retract a post,
they could just write "edit: I don't believe this any

[2016-10-31 21:16] georgiemallett commented on #77
I agree it's probably better to replace 'retract' with 'delete', for the
same reasons Ryan mentioned

##

Georgie Mallett, Executive Director, .impact http://dotimpact.im

[image: Inline images 2] http://dotimpact.im/

On Mon, Oct 31, 2016 at 4:07 PM, Ryan Carey notifications@github.com
wrote:

[2016-11-01 04:59] patbl commented on #77
@RyanCarey By "post" do you mean "comment" throughout?

The way we handle deleted articles is pretty weird too—we make it look as though the author's account, not the article, was deleted:

![deleted-article](https://cloud.githubusercontent.com/assets/1735266/19879919/4037ed26-9fb5-11e6-9e70-7470e04b4899.png)

I can work on changing the behavior for comments.

[2016-11-01 05:38] RyanCarey commented on #77
On Mon, Oct 31, 2016 at 9:59 PM, Patrick Brinich-Langlois <
notifications@github.com> wrote:

##

Ryan Carey
Assistant Research Fellow
Machine Intelligence Research Institute

[2016-11-01 05:41] RyanCarey commented on #77
That behavior for deleted articles sounds bizarre.

I don't necessarily care much what happens when a user tries to delete an
article. But when a moderator deletes an article, I feel it should fully go
away.

On Mon, Oct 31, 2016 at 10:37 PM, Ryan Carey ryan@intelligence.org wrote:

##

Ryan Carey
Assistant Research Fellow
Machine Intelligence Research Institute

[2016-11-02 05:51] patbl commented on #77
Here's the pull request, with a screenshot: https://github.com/tricycle/eaforum/pull/58

[2016-11-02 05:52] RyanCarey commented on #77
Thanks!

On Tue, Nov 1, 2016 at 10:51 PM, Patrick Brinich-Langlois <
notifications@github.com> wrote:

##

Ryan Carey
Assistant Research Fellow
Machine Intelligence Research Institute

[2016-11-07 04:37] patbl opened #78 "Make article and comment styling responsive"
Basically, make article and comment text larger on mobile without making it look too horrible or breaking the layout.

[2016-11-13 22:47] #75 closed

[2016-11-13 22:47] #76 closed

[2016-11-13 22:47] #77 closed

[2016-12-06 03:51] patbl commented on #78
Fixed by tricycle/eaforum#65.

[2016-12-06 03:51] #78 closed

[2016-12-11 23:21] patbl opened #80 "Get rid of "article navigation" section below articles"
what is even for lol

<img width="884" alt="screenshot 2016-12-11 15 21 22" src="https://cloud.githubusercontent.com/assets/1735266/21084246/82abe19c-bfb5-11e6-905f-a2c5bb368247.png">

[2016-12-11 23:26] patbl opened #81 "[needs clarification] Add section with top (by votes) unviewed posts"
* Where should it go? Could go between article and comments, so people will see it when they finish reading a section. It could also or instead go in the sidebar.
* Should it be available for logged-out users too? We could just get rid of the "unviewed" criterion for logged-out users.
* Do we track whether articles have been viewed? I'm pretty sure we do—I think that comments are shown as unread w

[2016-12-19 21:41] peterhurford opened #82 "Add an ability to subscribe to new posts by email"
Many blogs let you subscribe by email. I think this would improve engagement with the EA Forum by a good amount.

[2016-12-19 21:42] peterhurford opened #83 "Add/publicize EA Forum RSS Feed"
I don't know if we have an RSS feed or if people still use RSS, but this could be another good way to increase engagement with the forum.

[2016-12-19 21:43] peterhurford commented on #81
This is a pretty good idea. I'd suggest putting it in the sidebar, only for logged-in users. I suppose just like how "top" already works, you could break it down over multiple timeframes?

[2016-12-19 21:44] peterhurford commented on #80
Yeah I agree we should get rid of it. 👍

[2016-12-19 21:44] peterhurford commented on #68
@patbl Is this still an issue?

[2016-12-19 21:45] peterhurford commented on #65
I think it would be good for people to get an email when they get a reply on the EA forum as this likely would increase engagement.

[2016-12-21 19:53] peterhurford commented on #65
More than one person has actually been asking me about this, so I upped it to high priority.

[2016-12-22 02:23] tog22 commented on #65
Yes, that sounds sensible. Do you or @georgiemallett think it's valuable
and high priority enough to throw Harysh at it? It could be good to have
someone who's reliably able to contribute significant hours familiar with
the codebase. This is especially so in case there's a bug we need to fix
urgently to keep the forum running/usable, but I imagine that's unlikely.

On Wednesday, 21 December 2016,

[2016-12-23 05:35] arichard4 commented on #83
http://effective-altruism.com/.rss

[2016-12-26 22:35] taymonbeal commented on #82
I'd like to take a stab at this, if no one else is already doing so. I have three days off work that I can spend on a volunteer project, so at the end of that time I can give an initial report on how far I've gotten.

[2016-12-28 08:39] georgiemallett commented on #82
Cool thank you Taymon!

--
Georgie Mallett, Executive Director, .impact <http://dotimpact.im>

[image: Inline images 2] <http://dotimpact.im/>

On Mon, Dec 26, 2016 at 10:35 PM, Taymon A. Beal <notifications@github.com>
wrote:

[2016-12-28 23:12] peterhurford commented on #83
Thanks @arichard4 - given that we already have an RSS feed, I'll close this and publicize the feed soon.

[2016-12-28 23:12] #83 closed

[2016-12-30 22:43] taymonbeal commented on #82
Sorry, there wound up being bureaucratic complications on this from my
employer. I'll try to resolve them as quickly as possible.

Taymon

On Dec 28, 2016 3:39 AM, "georgiemallett" <notifications@github.com> wrote:

[2016-12-31 00:43] patbl opened #84 "Fix open-thread sidebar link"
![screenshot 2016-12-30 16 42 20](https://cloud.githubusercontent.com/assets/1735266/21574820/f6630004-ceae-11e6-9410-8557cac42c3e.png)

It needs to match titles like this: http://effective-altruism.com/ea/15m/semiregular_open_thread_35/

It's still pointing to the September open thread.

Probably it could just point to the most-recent post with "open thread" in the title. That would be right most

[2016-12-31 00:51] patbl commented on #68
@peterhurford Yes, sort of. When I upgraded TinyMCE, I disabled the image uploading feature. So now it's a missing feature rather than a broken one. It still seems like something worth having—it's annoying to have to upload images on a different site and link to them, and the links are more likely to break that way.

[2017-01-05 21:45] peterhurford opened #85 "Posts can no longer be tagged"
Tags aren't that important, but they do make it so we can mark open threads, and they could become important in the future if we want more forum categorization.

[2017-01-06 22:16] tog22 commented on #85
To be clear, I personally think this is our highest priority for forum
work, and one worth doing soon to boot. But @peterhurford and
@georgiemallett are more involved in coordinating this so can say if they
disagree!

On 5 January 2017 at 13:45, Peter Hurford <notifications@github.com> wrote:

[2017-01-06 22:26] peterhurford commented on #85
@tog22 Marked it high priority but curious to hear more about why you think it is important.

[2017-01-06 23:23] tog22 commented on #85
Solely for making the 'open thread' link in the sidebar work. I presume
that's the most broken easily fixable part of the forum experience?

On 6 January 2017 at 14:26, Peter Hurford <notifications@github.com> wrote:

[2017-01-06 23:54] patbl commented on #85
I removed them because they weren't being used [here](https://github.com/tricycle/eaforum/pull/49). Open threads were identified by title. I have [a pull request](https://github.com/tricycle/eaforum/pull/68/commits/c9c57d1b2d611dc9c954cb6385f34c4d873364bd) to update the title matching. (The link would point to the most recent post with "open thread" [case insensitive] in its title.)

Maybe we shou

[2017-01-06 23:57] peterhurford commented on #85
It looks like https://github.com/tricycle/eaforum/pull/68/files is a fine solution for now and that we can reflect on the value of tags as a part of the general CEA-driven(?) initiative to improve the forum.

[2017-01-07 00:09] tog22 commented on #85
Oh yeah, using titles and leaving the tag capacity unenabled for now sounds
sensible. There's a CEA-driven initiative to improve the forum? I thought
we were handling it OK, but I guess something for @georgiemallett to
discuss with them!

On 6 January 2017 at 15:57, Peter Hurford <notifications@github.com> wrote:

[2017-01-07 17:19] patbl commented on #85
I'm closing this in favor of #84.

[2017-01-07 17:19] #85 closed

[2017-01-15 06:01] peterhurford commented on #65
Requested in http://effective-altruism.com/ea/169/a_response_to_ea_has_a_lying_problem/9rn

[2017-01-15 06:01] peterhurford opened #86 ""Recently on EA Blogs" is empty"

[2017-01-15 22:07] georgiemallett commented on #65
re: Harysh - we should probably let CEA handle this since they're taking
over the forum right?

--
Georgie Mallett, Executive Director, .impact <http://dotimpact.im>

[image: Inline images 2] <http://dotimpact.im/>

On Sun, Jan 15, 2017 at 12:01 AM, Peter Hurford <notifications@github.com>
wrote:

[2017-01-17 07:35] patbl commented on #65
You could ask Sam Deere about when they plan to start working on it. I think they're unlikely to push any new code to the forum in the next month, and at this point overlapping efforts or turf wars shouldn't be a concern. And a total replacement for the forum is a long way off, so this feature is probably worth implementing in any case.

[2017-01-17 20:27] tog22 commented on #82
This'd be easy to do just by adding the RSS feed address to an existing website which generates emails of new posts with a signup form that people could use. I used Feedburner for this for a previous job, don't know if they still do this or are a good choice. @georgiemallett I imagine @haryshwaran could do this in literally half an hour (right Harysh?), which seems worth it?

[2017-01-17 20:37] tog22 commented on #84
@georgiemallett is the one to coordinate with on this since she's on the EA Newsletter team and gets someone to post the open thread with the current newsletter's content each month, so she can specific what title/tags whoever she delegates this to uses.

[2017-01-17 20:39] tog22 commented on #65
I think @patbl is right, as we've discussed elsewhere I'd be surprised if CEA got a volunteer to do this any time soon, and quite likely wouldn't at all. So let's just keep making improvements! 🚀

[2017-01-17 20:40] tog22 commented on #65
@peterhurford / @georgiemallett  - it sounded like Patrick was OK to work on this, in which case you could mark him as the assignee?

[2017-01-24 07:16] patbl commented on #84
Fixed by tricycle/eaforum#68.

[2017-01-24 07:16] #84 closed

[2017-03-01 07:35] RyanCarey commented on #86
It would helpful if any contributor, old or new, could fix this particular issue, since it's user-visible, and the handover to CEA is slowed by their busy-neses with YC!

[2017-03-01 12:44] liavkoren commented on #86
I just got the website up and running locally last weekend, and I'll start working on the actual issue this coming weekend. Although if anyone wants to fix it before then, please feel free. : )

[2017-03-01 18:25] RyanCarey commented on #86
Nice!

On Mar 1, 2017 4:44 AM, "liavkoren" <notifications@github.com> wrote:

[2017-03-16 05:43] RyanCarey commented on #86
According to a friend, Sam Eisenstat, the same bug is present on LessWrong!!!

[2017-04-26 20:30] tog22 commented on #86
@RyanCarey @patbl @peterhurford @liavkoren

As I recall, we/I temporarily fixed this by removing the sidebar element. In the interest of having less to maintain, how about linking to Pablo Stafforini's http://eablogs.net/ ( https://impact.hackpad.com/Aggregator-for-recent-EA-blog-posts-d2WhcblcsUU )? Or making our own sidebar block which simply pulls from this at http://fetchrss.com/rss/589d19a28a

[2017-04-26 20:32] tog22 commented on #82
Interested in doing this @taymonbeal or @liavkoren ?

cc @peterhurford @patbl

[2017-05-08 22:09] liavkoren commented on #86
Hi. Sorry for the delay replying.
I haven't had a chance to touch the eaforum code since https://github.com/tricycle/eaforum/pull/70 was merged.

I worked with https://pythonhosted.org/feedparser/ a few years ago, and remember it as being a good package for consuming RSS feeds. I'd be happy to work on this issue, and can probably get to it soon, but am also hesitant to give an concrete estimate --

[2017-05-10 01:51] tog22 commented on #86
That's good enough for our approach to this project! Please assign yourself to it (I can't as I'm not connected to you on github), and assign it back to @peterhurford for reassignment if you make no progress for a month. 🙂

[2017-05-10 15:09] liavkoren commented on #86
I can't. Is there an org I need to be added to?

[2017-05-11 03:56] peterhurford commented on #86
@tog22 I'm not able to answer @liavkoren 's question -- I can't seem to figure out how to assign him to the issue either.

[2017-05-29 19:38] tog22 commented on #86
@liavkoren I've invited you, which should let you assign yourself after that

@peterhurford I did so at https://github.com/tog22/eaforum/settings/collaboration which I guess only I can have access to. For future repos made in the impct github org, or repos already in it, you'd add people via https://help.github.com/articles/inviting-users-to-join-your-organization/ (I don't have permissions to). B

[2017-05-29 21:19] liavkoren commented on #86
*panics*..

[2017-05-29 21:25] tog22 commented on #86
You can always change it, but you'll forever be exposed here...

[2017-06-05 14:12] PBrietbart opened #87 "Petition to add spacing beneath each <li>"
As title.

Reading large blocks of listed comments is an eyesore. See Kaj's [recent post](http://effective-altruism.com/ea/1b3/cognitive_sciencepsychology_as_a_neglected/) as an example.

Give < li > `padding-bottom: 15px;` and it would be much nicer on the eyes.

Many thanks.

[2017-06-05 18:17] tog22 commented on #87
Ha, we're very open to this sort of petition!

@patbl if you're up for it, please straw poll people in https://www.facebook.com/groups/dotimpact about this change, tagging @RyanCarey. you could mock it up with Chrome's Inspect Element and share a quick screenshot using https://docs.google.com/document/d/1SvQAlolfFopxO2Qyi8Hs7K1b81LAXM7oriiAblC7rIk/edit#heading=h.p7yrauovg9x0

if you're not up for

[2017-06-05 18:19] tog22 commented on #86
still cool to do this @liavkoren or have i scared you off? 😛

#scaredycat

[2017-06-05 18:20] tog22 commented on #82
ping @taymonbeal @liavkoren @patbl @peterhurford

[2017-06-05 18:21] tog22 commented on #82
@haryshwaran if they don't reply in 7 days please work out a priority queue order for you to do this with richenda 😄  👑

[2017-06-05 21:38] liavkoren commented on #86
: ) Not scared off, just been hella slammed lately.

[2017-06-06 01:30] tog22 commented on #86
OK, would you be game @arichard4 or @patbl? If neither say yes you can assign someone else @peterhurford

[2017-06-06 17:05] arichard4 commented on #86
I'll take a preliminary look and get back to you Wednesday.

[2017-06-07 00:52] tog22 commented on #86
Awesome, thanks Alex

On Tue, Jun 6, 2017 at 10:05 AM, Alex Richard <notifications@github.com>
wrote:

[2017-06-21 06:10] #80 closed

[2017-06-21 06:41] patbl commented on #87
Here's a pull request with a screenshot: https://github.com/tricycle/eaforum/pull/71

I don't think it's worth asking people about minor style changes with other people if we're all fine with them. The forum isn't much to look at. We won't be ruining anybody's artistic vision.

[2017-06-21 14:48] RyanCarey commented on #87
Looks great to me :)

On Jun 20, 2017 11:41 PM, "Patrick Brinich-Langlois" <
notifications@github.com> wrote:

[2017-06-21 17:29] pbrietbart commented on #87
Perfect 👍

[2017-06-23 17:42] fargerio opened #88 "Activate TLS Encryption on effective-altruism.com"
I just sent this via email to contact@effective-altruism.com before i noticed the github project. Not technically an issue with the code, but still an important security bug with the site.

please install a TLS/SSL certificate and 301 redirect all requests from  http://effective-altruism.com to https://effective-altruism.com

It looks like this website runs on AWS, so this might be helpful:
https:

[2017-08-20 21:16] #86 closed

[2017-12-01 18:44] liavkoren opened #89 "Add a search functionality"
There doesn't seem to be a search bar on the forum.

[2017-12-30 09:06] arichard4 commented on #89
There is- far upper right corner, beside "sign out".

I'll try to see what the broader plans for the EA Forum are, to see if it's worth changing the UI to make the search bar more prominent.

[2018-01-15 15:36] setupminimal commented on #88
Also please note that the LetsEncrypt project will give you a free TLS certificate and the tools to keep it up to date. I love the idea of what you're doing, but I, personally, won't sign up for a website that is not served over HTTPS, and so I can't join your forum.

[2018-04-09 17:31] Viscosity4373 commented on #88
any update on this?

Chrome will mark the site as "unsafe" for all users coming july if no https is rolled out till then.

Please also consider that until this is adressed, all users are broadcasting their passwords in plaintext to anyone on their networks. This is especially concerning because many of them might be interesting targets for identity theft, and some might use the same password for a

[2018-04-09 18:51] tog22 commented on #88
I'll get on it soon

[2018-06-12 05:21] #87 closed

[2018-06-13 07:56] psaniko commented on #88
I also consider this an important security issue. Of my 560 logins, the EA forum remains one of three which still don't support HTTPS. I can also help out if needed.

[2018-06-22 00:15] tog22 commented on #88
I passed it on and believe it's in the hands of CEA, who Ryan handed the
forum to a little while back. Recently Trike/Bellroy told me that "all of
the internal links are hardcoded in the content, there's no easy way for us
to change them all to make the pages not generate security warning". I'm
pretty sure no one's checking this github page. I'd guess it's still
pointed to in the forum FAQ; if so